<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/.static/css/style.css?c={{ cache }}" rel="stylesheet">
  </head>
  <body class="scrollY">
    <nav id="topNav">
      <span id="navLinkSpan"></span>
      <span id="navOptionsSpanHome"></span>
    </nav>
    <header id="menuHeader"></header>
    <div id="subpageWrapper">
      <h2>About</h2>
      <div>
        <p>Email: <a href="mailto:kohlchan@secmail.pro">kohlchan@secmail.pro</a></p>
        <p>IRC: #kohlchan, #kohlchan-en @ EUIRC</p>
      </div>
    </div>
    <footer id="footer"></footer>
  </body>
  <script src="/.static/js/api.js?c={{ cache }}"></script>
  <script src="/.static/js/favouriteBoards.js?c={{ cache }}"></script>
</html>
