<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/.static/css/style.css?c={{ cache }}" rel="stylesheet">
  </head>
  <body class="scrollY">
    <nav id="topNav">
      <span id="navLinkSpan"></span>
      <span id="navOptionsSpanHome"></span>
    </nav>
    <header id="menuHeader"></header>
    <div id="cookieBanner"></div>
    <div id="subpageWrapper">
      <h2>Disclaimer</h2>
      <div><ol>
          <li>This site is meant for people with common sense and humor who can deal with sarcasm, irony and cynicism.</li><br>
          <li>Think carefully before you take something that was posted here at face value.</li><br>
          <li>Furthermore, it contains some things that are only suitable for an adult audience. If you're a minor, please go somewhere else.</li>
        </ol>
        <p>Before you do anything here, familiarize yourself with the <a href="/globalRules.html">rules</a>.</p></div>
      <h2>Verzichtserklärung</h2>
      <div>
        <ol>
          <li>Diese Seite ist für Leute mit gesundem Menschenverstand und Humor gedacht, die mit Sarkasmus, Ironie und Zynismus umgehen können.</li><br>
          <li>Denken Sie gründlich nach, bevor Sie etwas, das hier gepostet wurde, für bare Münze nehmen.</li><br>
          <li>Darüber hinaus enthält sie teilweise Dinge, die nur für ein erwachsenes Publikum geeignet sind. Wenn Sie minderjährig sind, gehen Sie bitte woanders hin.</li>
        </ol>
        <p>Bevor Sie hier irgendwas tun, machen Sie sich mit den <a href="/globalRules.html">Regeln</a> vertraut.</p></div>
    </div>
    <footer id="footer"></footer>
  </body>
  <script src="/.static/js/api.js?c={{ cache }}"></script>
  <script src="/.static/js/favouriteBoards.js?c={{ cache }}"></script>
  <script src="/.static/js/consent.js?c={{ cache }}"></script>
</html>
