<!DOCTYPE html>
<html>
  <head>
    <title>Global Rules</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/.static/css/style.css?c={{ cache }}" rel="stylesheet">
  </head>
  <body class="scrollY">
    <nav id="topNav">
      <span id="navLinkSpan"></span>
      <span id="navOptionsSpanHome"></span>
    </nav>
    <header id="menuHeader"></header>
    <div id="cookieBanner"></div>
    <div id="subpageWrapper">
      <h2>Global Rules</h2>
      <div>
        <b>What is allowed here?</b>
        <p>Do not post, request or link to any illegal content. That includes, but is not limited to, child pornography, zoophilic pornography, necrophilic pornography and direct threats of violence against groups or individuals. Everything illegal we are aware of will be removed and the offending user will be banned.</p>
        <p>Please note that no visible genitalia of children are allowed under any circumstances, including both nipples and butts of children in a commercial or sexual context. Anything deemed inappropriate is subject to removal.</p>
        <p>Lastly, Kohlchan has zero tolerance for spamming, flooding or ban evasion. If you believe that you have been unjustly banned, visit the <a href="/irc.html">IRC</a> and discuss it with the moderators there.</p>
        <b>What about copyright infringements?</b>
        <p>Copyright infringement is treated in accordance with the laws of the country where the affected server is located, and claims require proper documentation from your side.</p>
        <b>Reports</b>
        <p>Abuse can be reported by mail or using the built-in report function. Just mark the post with the checkbox, scroll to the page bottom and click the report button to report the post(s).</p>
        <p>Email: <a href="mailto:kohlchan@secmail.pro">kohlchan@secmail.pro</a></p>
        <!--
          <ul id="golbalRulesUl">
          <li>Insert rules here.</li>
          </ul>
        -->
      </div>
    </div>
    <footer id="footer"></footer>
  </body>
  <script src="/.static/js/api.js?c={{ cache }}"></script>
  <script src="/.static/js/favouriteBoards.js?c={{ cache }}"></script>
  <script src="/.static/js/consent.js?c={{ cache }}"></script>
</html>
