<!DOCTYPE html>
<html>
  <head>
    <title>Links</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/.static/css/style.css?c={{ cache }}" rel="stylesheet">
  </head>
  <body class="scrollY">
    <nav id="topNav">
      <span id="navLinkSpan"></span>
      <span id="navOptionsSpanHome"></span>
    </nav>
    <header id="menuHeader"></header>
    <div id="cookieBanner"></div>
    <div id="subpageWrapper">
      <h2>Kohlchan Links</h2>
      <div>
        <p><b>Status Page:</b></p>
        <p><a target="_blank" href="https://loadaverage.org/kohlchan">https://loadaverage.org/kohlchan</a></p>
        <p><b>Domains:</b></p>
        <ul>
          <li><a target="_blank" href="https://kohlchan.net"><b>kohlchan.net</b></a><br> primary address</li><br>
          <li><a target="_blank" href="https://kohlkanal.net"><b>kohlkanal.net</b></a><br> alternative address (not in use - redirect)</li><br>
          <!-- <li><a target="_blank" href="https://kohlchan.mett.ru"><b>kohlchan.mett.ru</b></a><br> alternative address</li><br> -->
          <li><a target="_blank" href="https://nocsp.kohlchan.net"><b>nocsp.kohlchan.net</b></a><br> alternative address for better compatibility with Dollchan</li><br>
          <!--<li><a target="_blank" href="https://v6.kohlchan.net"><b>v6.kohlchan.net</b></a></br> IPv6 only address</li></br>-->
          <!-- <li><a target="_blank" href="https://kohl.chan"><b>kohl.chan</b></a><br> <a target="_blank" href="https://www.opennic.org/">OpenNIC</a> address (<a href="/files/kohl.chan.crt">self-signed certificate</a>)</li><br> --></ul>
        <p><b>Onion domains:</b></p>
        <p>Hidden Service:</p>
        <ul>
          <li><a target="_blank" href="http://kohlchanagb7ih5g.onion/"><b>kohlchanagb7ih5g.onion</b></a><br>onion address (formerly: kohlchankxguym67.onion)</li><br>
          <li><a target="_blank" href="http://kohlchanvwpfx6hthoti5fvqsjxgcwm3tmddvpduph5fqntv5affzfqd.onion/"><b>kohlchanvwpfx6hthoti5fvqsjxgcwm3tmddvpduph5fqntv5affzfqd.onion</b></a><br>onion v3 address (formerly: kohlchan7cwtdwfuicqhxgqx4k47bsvlt2wn5eduzovntrzvonv4cqyd.onion)</li>
        </ul>
        <!--<p><a href="https://blog.torproject.org/whats-new-tor-0298" target="_blank">Single Onion Service</a>:</p>
        <ul>
          <li><a target="_blank" href="http://fastkohlp6h2seef.onion/"><b>fastkohlp6h2seef.onion</b></a><br>onion address</li><br>
          <li><a target="_blank" href="http://fastkohlt5rxcxtl5no7k3efmahlt7mafry7be6yvxdovekhq2hdnwqd.onion/"><b>fastkohlt5rxcxtl5no7k3efmahlt7mafry7be6yvxdovekhq2hdnwqd.onion/</b></a><br>onion v3 address</li>
          <!-- <li><b>TBA</b> Facebook page</li>--#>
        </ul> -->
      </div>
      <h2>Git repositories</h2>
      <div>
        <ul>
          <li><a target="_blank" href="https://gitgud.io/LynxChan/LynxChan">LynxChan</a>, the repository for LynxChan.</li><br>
          <li><a target="_blank" href="https://gitgud.io/Tjark/KohlNumbra">KohlNumbra</a>, the repository for this front-end.</li><br>
          <li><a target="_blank" href="https://gitgud.io/LynxChan/lynxchanaddon-kc">KC-Addon</a>, the repository for KC features.</li>
        </ul>
      </div>
      <h2>Backup boards</h2>
      <div>
        <ul>
          <li><a target="_blank" href="https://8kun.top/kohlchan/">8kun/kohlchan/</a></li>
        </ul>
      </div>
      <h2>Applications for mobile devices</h2>
      <div>
        <ul>
          <li><b>Dashchan Extension</b>:<br> <a href="https://github.com/krautbernd/Dashchan-Extensions-kohlchan ">Dashchan Extension</a></li><br>
          <li><b>Overchan (Kohl-Edition)</b>:<br> <a href="https://github.com/Eilhart/Overchan-Android/releases/tag/lynx-kc">Overchan Fork (Kohl-Edition)</a></li>
        </ul>
      </div>
      <h2>Other Bernd Projects</h2>
      <div>
        <p>The following list contains other independent projects with no relation to the Kohlchan administration. New projects can be created or shown on the <a href="/make/" target="_blank">&gt;&gt;&gt;/make/</a> board.</p>
        <ul>
          <li><b>Dietchan - Proudly made without PHP, Java, Perl, MySQL, Postgres, MongoDB and Node.js</b>:<br> <a target="_blank" href="https://dietchan.org">dietchan.org</a></li><br>
          <li><b>Krautplausch</b>:<br> <a target="_blank" href="https://krautplausch.hopto.org/">krautplausch.hopto.org</a></li><br>
          <li><b>Der Flug der Neubiene</b>:<br> <a href="https://kohlchan.net/prog/res/160.html">Faden für die offiziellen Releases des KC-Spieles "Der Flug der Neubiene"</a></li>
          <!-- <li><b>Radio Freies Kohlchan (RfK)</b>:<br> <a href="https://radio.kohlchan.net">radio.kohlchan.net</a></li><br> -->
          <!-- <li><b>KrautWiki / KohlWiki</b>:<br> <a href="https://wiki.kohlchan.net/">wiki.kohlchan.net</a></li><br> -->
          <!-- <li><b>Einskanal.net</b>:<br> <a href="https://einskanal.net">einskanal.net</a></li><br> -->
        </ul>
      </div>
    </div>
    <footer id="footer"></footer>
  </body>
  <script src="/.static/js/api.js?c={{ cache }}"></script>
  <script src="/.static/js/favouriteBoards.js?c={{ cache }}"></script>
  <script src="/.static/js/consent.js?c={{ cache }}"></script>
</html>
