<!DOCTYPE html>
<html class="desktop-style">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <title>KOHLCHAN</title>
    <link rel="stylesheet" type="text/css" id="framecss" href="/.static/css/frame.css?c={{ cache }}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  </head>
  <body>
    <iframe src="/.static/pages/modSidebar.html" id="sidebar" name="sidebar"></iframe>
    <iframe src="/account.js" id="main" name="main" allowfullscreen=""></iframe>
  </body>
</html>
