<!DOCTYPE html>
<html>
  <head>
    <title>Privacy Policy</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/.static/css/style.css?c={{ cache }}" rel="stylesheet">
  </head>
  <body class="scrollY">
    <nav id="topNav">
      <span id="navLinkSpan"></span>
      <span id="navOptionsSpanHome"></span>
    </nav>
    <header id="menuHeader"></header>
    <div id="cookieBanner"></div>
    <div id="subpageWrapper">
      <p>This page was last modified on: 2020-02-16</p>
      <h2>General statement</h2>
      <div>
        <p>This privacy policy is intended to inform users of this website about the nature, scope and purpose of the collection and use of personal information by the website operator <a href="mailto:kohlchan@secmail.pro">kohlchan@secmail.pro</a>.</p>
        <p>Kohlchan takes your privacy seriously and will treat your personal information confidentially and in accordance with the law. As changes to this Privacy Policy may be made through new technologies and the continued evolution of this site, we encourage you to review the Privacy Policy periodically.</p>
      </div>
      <h2>Access data</h2>
      <div>
        <p>We, the website operator or website provider, due to our legitimate interest collect access logs to our website. Those access logs contain your IP address, user agent, and type/location of your requests. That information will only be stored temporarily and is structured in two parts:</p>
        <ul>
          <li><i>access.log</i>: Contains full IP addresses and keeps each individual entry for two days.</li>
          <li><i>error.log</i>: Contains full IP addresses and logs server errors produced by Nginx (not HTTP errors). Each individual entry is kept for seven days.</li>
        </ul>
      </div>
      <h2>Collection and processing of personal data</h2>
      <div>
        <p>Kohlchan does not require any personally identifiable information from users for using it in any form. To avoid providing Kohlchan personal information, use Tor or a VPN, and use common sense to protect your own identity.</p>
        <p>It should be noted that the boards /int/, /trv/ and /kohl/ attach your country or region code next to your post in the form of a flag.</p>
        <p>In addition to this, a world map containing the mapped GeoIP coordinates for every unique poster within specified timeframes will be generated for the international /int/ board at <a href="/int/map/">kohlchan.net/int/map/</a>. Kohlchan uses the well-known database geolite2 by <a href="https://maxmind.com">MaxMind</a> for retrieving coordinates and its authors say the following about the precision:</p>
        <p>"IP geolocation is inherently imprecise. Locations are often near the center of the population. Any location provided by a GeoIP database should not be used to identify a particular address or household." (<a href="https://dev.maxmind.com/geoip/geoip2/geolite2/">Source</a>, 2018-05-27)</p>
        <p>There's also no direct link between user posts and those imprecise coordinates.</p>
      </div>
      <h2>Sharing of Data</h2>
      <div>
        <p>Kohlchan does not share your personal data unless required by law. Please be aware that Kohlchan will possibly report your IP to the proper authority if you create a credible thread about your imminent suicide. Under no circumstances will we ever sell your data.</p>
      </div>
      <h2>Handling user posts</h2>
      <div>
        <p>If you post or comment on Kohlchan, your IP address will be linked to your content for security purposes. If you post or comment on Kohlchan using Tor or a known proxy server, an identifier based on your cookie will be linked to your post. This will be retained until the post is removed or until seven days have passed.</p>
      </div>
      <h2>Backups</h2>
      <div>
        <p>Kohlchan creates nightly backups of the database. Each of them will be automatically deleted after one day.</p>
      </div>
      <h2>Cookies</h2>
      <div>
        <p>Kohlchan may use and require cookies with a maximum lifespan of 1 week (168 hours) for posting (renewed after every usage). They are needed so that users can post multiple times with a single solved captcha.</p>
      </div>
    </div>
    <footer id="footer"></footer>
  </body>
  <script src="/.static/js/api.js?c={{ cache }}"></script>
  <script src="/.static/js/favouriteBoards.js?c={{ cache }}"></script>
  <script src="/.static/js/consent.js?c={{ cache }}"></script>
</html>
