<!DOCTYPE html>
<html>
  <head>
    <title>Info</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/.static/css/style.css?c={{ cache }}" rel="stylesheet">
    <link rel="stylesheet" href="/.static/katex/katex.min.css">
  </head>
  <body class="scrollY">
    <nav id="topNav">
      <span id="navLinkSpan"></span>
      <span id="navOptionsSpanHome"></span>
    </nav>
    <header id="menuHeader"></header>
    <div id="cookieBanner"></div>
    <div id="subpageWrapper">
      <h2>About</h2>
      <div>
        <p>Email: <a href="mailto:kohlchan@secmail.pro">kohlchan@secmail.pro</a></p>
        <p>IRC: #kohlchan, #kohlchan-en @ EUIRC</p>
      </div>
      <h2>FAQ</h2>
      <div id="faqContent">
        <p><b>What  is this place?</b></p>
        <p>Please take time to read the <a href="/disclaimer.html">disclaimer</a>, the <a href="/privacy.html">privacy policy</a> and the <a href="/globalRules.html">rules</a>.</p>
        <p><b>Flood detected...?</b></p>
        <p>Wait a few minutes. </p>
        <p><b>How can I use nice text formatting?</b></p>
        <ul>
          <li>==SRZ BIZNIZ== <span class="arrowRight"></span> <span class="redText">SRZ BIZNIZ</span></li>
          <li>'''bold''' <span class="arrowRight"></span> <strong>bold</strong></li>
          <li>[b] bold [/b] <span class="arrowRight"></span> <strong>bold</strong></li>
          <li>[i] italics [/i] <span class="arrowRight"></span> <em>italics</em></li>
          <li>__underline__ <span class="arrowRight"></span> <u>underline</u></li>
          <li>[u] underline [/u] <span class="arrowRight"></span> <u>underline</u></li>
          <li>~~strikethrough~~ <span class="arrowRight"></span> <s>strikethrough</s></li>
          <li>[s] strike [/s] <span class="arrowRight"></span> <s>strike</s></li>
          <li>**spoiler** <span class="arrowRight"></span> <span class="spoiler">spoiler</span></li>
          <li>[spoiler] spoiler [/spoiler] <span class="arrowRight"></span> <span class="spoiler">spoiler</span></li>
          <li>[code] code test [/code] <span class="arrowRight"> <code> code test </code> </li>
          <li>```<br>for (var i = 0; i &lt; 10; i++) console.log(i);<br>``` <span class="arrowRight"></span> <code><span class="hljs-keyword">for</span> (var <span class="hljs-built_in">i</span> = <span class="hljs-number">0</span>; <span class="hljs-built_in">i</span> &lt; <span class="hljs-number">10</span>; <span class="hljs-built_in">i</span>++) console.<span class="hljs-built_in">log</span>(<span class="hljs-built_in">i</span>);</code></li>
          <li> &gt;Greentext <span class="arrowRight"></span> <span class="greenText">&gt;Greentext</span></li>
          <li> &lt;Orangetext <span class="arrowRight"></span> <span class="orangeText">&lt;Orangetext</span></li>
          <li>$$\int_0^\infty \mathrm{e}^{-x}\,\mathrm{d}x$$ <span class="arrowRight"></span> <span class="katex"><span class="katex-html" aria-hidden="true"><span class="base"><span class="strut" style="height:1.215112em;vertical-align:-0.35582em;"></span><span class="mop"><span class="mop op-symbol small-op" style="margin-right:0.19445em;position:relative;top:-0.0005599999999999772em;">∫</span><span class="msupsub"><span class="vlist-t vlist-t2"><span class="vlist-r"><span class="vlist" style="height:0.8592920000000001em;"><span style="top:-2.34418em;margin-left:-0.19445em;margin-right:0.05em;"><span class="pstrut" style="height:2.7em;"></span><span class="sizing reset-size6 size3 mtight"><span class="mord mtight">0</span></span></span><span style="top:-3.2579000000000002em;margin-right:0.05em;"><span class="pstrut" style="height:2.7em;"></span><span class="sizing reset-size6 size3 mtight"><span class="mord mtight">∞</span></span></span></span><span class="vlist-s">&#8203;</span></span><span class="vlist-r"><span class="vlist" style="height:0.35582em;"><span></span></span></span></span></span></span><span class="mspace" style="margin-right:0.16666666666666666em;"></span><span class="mord"><span class="mord"><span class="mord mathrm">e</span></span><span class="msupsub"><span class="vlist-t"><span class="vlist-r"><span class="vlist" style="height:0.771331em;"><span style="top:-3.063em;margin-right:0.05em;"><span class="pstrut" style="height:2.7em;"></span><span class="sizing reset-size6 size3 mtight"><span class="mord mtight"><span class="mord mtight">−</span><span class="mord mathnormal mtight">x</span></span></span></span></span></span></span></span></span><span class="mspace" style="margin-right:0.16666666666666666em;"></span><span class="mord"><span class="mord mathrm">d</span></span><span class="mord mathnormal">x</span></span></span></span><br>
          </li>
        </ul>
        <a name="filetypes"></a> <p ><b>What files can I upload?</b></p>
        <p>jpeg, jpg, bmp, gif, png, mp3, ogg, flac, opus, webm, mp4, 7z, zip, pdf, epub, txt with maximum file size of 100MB in total for every post.<span style="display:none;"> on /b/, /int/ and /pol/. 40MB on every other board.</span></p>
        <!-- <p><b>Captchas...?</b></p>
          <p><a href="/captcha.html">Captcha info page</a></p> -->
          <!-- <p><b>Can I support Kohlchan?</b></p>
            <p>If you want, you can help finance the Kohlchan with Bitcoin. You can view the wallet address for server costs at the <a href="/funding.html">Kohlfunding page</a>.</p> -->
            <p><b>Do you keep logs?</b></p>
            <p>Yes, for a limited period of time. For more information have a look at our <a href="/privacy.html">Privacy Policy</a>.</p>
            <p><b>Dollchan with youtube is not working!</b></p>
            <p>Use NOCSP subdomain: <a target="_blank" href="https://nocsp.kohlchan.net/">nocsp.kohlchan.net</a></p>
            <p><b>I don't see country balls and other board graphics!</b></p>
            <p>Your browser has no SVG support. There is a way to disable SVG, but only for .onion: click this URL to set the "no svg" cookie: <a target="_blank" href="/turn_off_svg">turn svg off</a> (<a target="_blank" href="/turn_on_svg">turn svg on</a>). Clean cached images in your browser afterwards.</p>
            <p><b>I like the banners, can I download them all?</b></p>
            <p><a href="/files/banner.zip">Yes.</a></p>
            <p><b>How can I REPORT ABUSE?</b></p>
            <p>kohlchan@secmail.pro or use the report abuse function.</p>
            <p><b>How can I contact the administration team?</b></p>
            <p><a href="mailto:kohlchan@secmail.pro">kohlchan@secmail.pro</a></p>
      </div>
    </div>
    <footer id="footer"></footer>
  </body>
  <script src="/.static/js/api.js?c={{ cache }}"></script>
  <script src="/.static/js/favouriteBoards.js?c={{ cache }}"></script>
  <script src="/.static/js/consent.js?c={{ cache }}"></script>
</html>
