<h2>Moderation actions</h2>
<div class="labelTable">
  <label>
    Ban duration (Defaults to 5 years):
    <input class="banField" type="text" id="fieldDuration" name="duration">
    <a href="/.static/pages/moderation.html#banSection">Duration
      format</a>
  </label>
  <label>
    Ban Message
    <input class="banField" type="text" id="fieldbanMessage" name="banMessage">
  </label>
 
  <label>
    Ban Reason
    <input class="banField" type="text" id="fieldBanReason" name="reasonBan">
  </label>
  <label>
    Ban type:
    <select name="banType" id="comboBoxBanTypes">
      <option value="0">IP/Bypass ban</option>
      <option value="1">Range ban (1/2 octects)</option>
      <option value="2">Range ban (3/4 octects)</option>
      <option value="3">ASN ban</option>
      <option value="4">Ip/Bypass warning</option>
    </select>
  </label>
  <label>
    <input class="banField"  type="checkbox" id="checkBoxNonBypassable" name="nonBypassable">
    Non-Bypassable
  </label>
  <label>
    <input type="checkbox" class="reportField" id="checkboxGlobalBan" name="globalBan">
    Global
  </label>
  <label>
    <input type="checkbox" class="ipDeletionField" name="confirmation" id="ipDeletionConfirmationCheckbox" value="true">
    Confirm board-wise ip deletion
  </label>
  <button type="submit" id="inputIpDelete" value="ip-deletion" name="action">Delete by ip/bypass on this board</button>
  <button type="submit" id="inputBan" value="ban" name="action">Ban</button>
  <button type="submit" id="inputBanDelete" value="ban-delete" name="action">Ban and delete</button>
  <button type="submit" id="inputSpoil" value="spoil" name="action">Spoil Files</button>
</div>
