<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--<meta http-equiv="Content-Security-Policy" content="script-src 'self'; connect-src 'self'; style-src 'unsafe-inline' 'self'; worker-src 'unsafe-inline' 'unsafe-eval' 'self'">-->
<link href="/.static/css/style.css?c={{ cache }}" rel="stylesheet">
<link rel="alternate" type="application/rss+xml" href="index.rss">
<script src="/.static/js/lang/{{ LANG }}.js?c={{ cache }}"></script>
<script src="/.static/js/settings.js?c={{ cache }}"></script>

