<div id="siteName">SALACHAN</div>
<div id="logoBox" class="title">
  <a href="/index.html">
    <img src="/randomBanner.js" id="bannerImage" alt="">
  </a>
</div>

<div id="links" class="title">
  <span>[</span>
  <a href="/graphs.js" id="linkGaphs">Tilastot</a>
  <span>/</span>

  <a href="http://gitgud.io/LynxChan/LynxChan" id="linkEngine"></a>
  <span>]</span>
  <!-- <a href="/graphs.js" id="linkGraphs">Graphs</a>
  <span>/</span> -->
  <!-- <a href="/logs.js" id="linkGlobalLogs">Logs</a>
  <span>/</span> -->
</div>