<tbody>
  <tr id="divName">
    <th></th>
    <td><input width=150 type="text" placeholder="{{ lang.name }}" 
    class="postingInput" id="fieldName" style="width: 225px" name="name"></td>
  </tr>
  <tr>
    <th></th>
    <td>
      <input type="text" placeholder="{{ lang.subject }}"
        class="postingInput" id="fieldSubject" tabindex="3" size="25"
        maxlength="100" name="subject" style="width: 225px">

      <input name="boardUri" id="boardIdentifier" type="hidden">
      <input accesskey="s" tabindex="4" style="float: right" type="submit" id="formButton" value="{{ lang.post }}">
      <input type="checkbox" title="Sage" class="postingInput" id="checkboxSage" name="sage" style="float: right"> 

    </td>
  </tr>
  <tr>
    <th></th>
    <td>
      <textarea style="width: 100%" placeholder="{{ lang.comment }}" rows="6" cols="48" tabindex="5" class="postingInput" id="fieldMessage" name="message"></textarea>
      <p style="display: none;">
      Max message length: <span id="labelMessageLength"></span>
      </p>
    </td>
  </tr>
  <tr id="divUpload">
    <th></th>
    <td>
      <div class="hidden" id="dragAndDropDiv">
        <div class="dropzone" id="dropzone">
          {{ lang.selectDropPasteFilesHere }}
        </div>
        <div id="selectedDiv"></div>
      </div>
      <div>
        <input type="file" name="files" id="inputFiles" multiple class="fileBrowser">
      </div>
      <input type="checkbox" name="spoiler" class="postingCheckbox" id="checkboxSpoiler">
      <label for="checkboxSpoiler">{{ lang.spoiler }}</label>
    </td>
  </tr>
  <tr id="captchaDiv">
    <th>Captcha:</th>
    <td>
      <img class="captchaImage" src="/captcha.js" id="captchaImage" alt="">
      <div class="subCaptchaDiv">
        <span class="captchaTimer"></span>
        <br>
        <input name="captcha" type="text" class="captchaField postingInput" id="fieldCaptcha" placeholder="answer">
        <a href="/noCookieCaptcha.js">no cookies?</a>
      </div>
    </td>
  </tr>
  <!--
    <tr class="hidden" id="formMore">
    <td>More</td>
    </tr>
    </tbody>
    <tbody id="extra">
    <tr>
    <th>E-mail:</th>
    <td><input type="text" class="postingInput" id="fieldEmail" name="email"></td>
    </tr>
    RIF E-POST
  -->
  <tr>
    <th></th>
    <td>
      <input autocomplete="off" placeholder="{{ lang.password }}" id="fieldPostingPassword" name="password" class="postingInput" type="password" size="8" tabindex="10">
      <span>({{ lang.forPostDeletion }})</span>
    </td>
  </tr>
  <tr id="flagsDiv">
    <th>Flag:</th>
    <td>
      <select name="flag" id="flagCombobox">
      </select> <img class="flagPreview" alt="flag">
    </td>
  </tr>
  <tr id="noFlagDiv">
    <th>{{ lang.noLocation }}:</th>
    <td>
      <input type="checkbox" class="postingCheckbox postingInput" id="checkboxNoFlag" name="noFlag">
      <label for="checkboxNoFlag"></label>
    </td>
  </tr>
  <tr id="alwaysUseBypassDiv" class="hidden">
    <th>Bypass:</th>
    <td>
      <input type="checkbox" class="postingCheckbox postingInput" id="alwaysUseBypassCheckBox">
      <label for="alwaysUseBypassCheckBox"></label>
    </td>
  </tr>
  <tr id="rules_row">
    <td colspan="2">
      <ul>
        <li>{{ lang.allowedFileTypes1 }} <a href="/info.html#filetypes">{{ lang.more }}</a>
        </li><li>{{ lang.maxNumberOfFilesPerPost }}: <span id="labelMaxFiles"></span>
        </li><li>{{ lang.maxFileSize }}: <span id="labelMaxFileSize"></span>
        </li><li><b>{{ lang.readTheRules1 }} <a href="/#divRules" class="rules">{{ lang.readTheRules2 }}</a> {{ lang.readTheRules3 }}</b>
        </li></ul>
    </td>
  </tr>
    </tbody>
