
<span class="sub">[</span>
	<a href="/index.html">{{ lang.home }}</a>&nbsp;/
	<a href="/ukko/">ukko</a>
<span>]&ensp;</span>
{% for category in categories %}
{% if category %}
<span class="sub">[</span>
{% for board in category.boards %}
	{% if board.boardUri %}
	&thinsp;<a href="/{{ board.boardUri }}/">
		{{ board.boardUri }}
	</a>&thinsp;
	{% if not loop.last %}/{% endif %}
	{% endif %}
{% endfor %}<span>]&ensp;</span>
{% endif %}
{% endfor %}
<a href="catalog.html" class="navCatalog">{{ lang.catalog }}</a>