<!doctype html>
<html>
  <head id="fullHead"></head>
  <body>
    <nav id="topNav">
      <span id="navLinkSpan"></span>
      <span id="navOptionsSpanHome"></span>
    </nav>
    <header>
      <img src="/.static/images/404.png" class="notFoundImg" alt="">
      <h2>404</h2>
      <p>Error: not found</p>
    </header>
    <footer id="footer"></footer>
  </body>
  <script src="/.static/js/api.js?c={{ cache }}"></script>
  <script src="/.static/js/favouriteBoards.js?c={{ cache }}"></script>
  <script src="/.static/js/fallingSnow.js?c={{ cache }}"></script>
</html>
