<!doctype html>
<html>
  <head id="fullHead"></head>
  <body>
    <nav id="topNav">
      <span id="navLinkSpan"></span>
    </nav>
    <header>
      <h1>
        <span id="labelLogin"></span>
        (<span id="labelGlobalRole"></span>)
      </h1>
      <form action="/logout.js">
        <button id="logoutFormButton" type="submit">Logout</button>
      </form>
    </header>
    <div id="confirmationForm" class="mCard">
      <h2>E-Mail confirmation</h2>
      <div>
        <form action="/requestEmailConfirmation.js" method="post" enctype="multipart/form-data">
          <p>Your e-mail haven't been confirmed yet.</p>
          <p>You won't be able to reset your password or receive report notifications until doing so.</p>
          <button type="submit" id="requestConfirmationFormButton">Request confirmation e-mail</button>
        </form>
      </div>
    </div>
    <div class="mCard labelTable">
      <h2>Delete account</h2>
      <div>
        <form action="/deleteAccount.js" method="post" enctype="multipart/form-data">
          <label>
            <input id="confirmationCheckbox" type="checkbox" class="deleteAccountField" name="confirmation">
            Yes, I wish to delete my account.
          </label>
          <button id="deleteAccountFormButton" type="submit">Delete account</button>
        </form>
      </div>
    </div>
    <div class="mCard">
      <h2>My Boards</h2>
      <div id="ownedDiv" class="mBody mLinks"></div>
    </div>
    <div class="mCard">
      <h2>Volunteered Boards</h2>
      <div id="volunteeredDiv"></div>
    </div>
    <div class="mCard">
      <h2>Links</span></h2>
      <div class="mLinks">
        <a href="/globalManagement.js" id="globalManagementLink">Global Management</a>
        <a href="/latestPostings.js" id="latestPostingsLink">Latest postings</a>
      </div>
    </div>
    <div class="mCard labelTable">
      <h2>Account Settings</h2>
      <div>
        <form action="/changeAccountSettings.js" method="post" enctype="multipart/form-data">
          <label>Address: <input type="email" name="email" class="settingsField" id="emailField"></label>
          <label><input type="checkbox" class="settingsField" name="alwaysSignRole" id="checkboxAlwaysSign">
            Always use role signature
          </label>
          <label><input type="checkbox" class="settingsField" name="reportNotify" id="checkboxReportNotify">
            Receive e-mail report notifications
          </label>
          <label>
            <input type="checkbox" class="settingsField" name="noBoardReports" id="checkboxNoBoardReports">
            Don't show board reports on the global list
          </label>
          <button type="submit" id="saveFormButton">Save</button>
        </form>
        <form action="/changeAccountPassword.js" method="post" enctype="multipart/form-data">
          <label>
            Current Password:
            <input type="password" class="passwordChangeField" name="password" id="fieldPassword"></label>
          <label>
            New Password:
            <input type="password" class="passwordChangeField" name="newPassword" id="fieldNewPassword">
          </label>
          <label>
            Confirm New Password:
            <input type="password" class="passwordChangeField" name="confirmation" id="fieldConfirmation">
          </label>
          <button type="submit" id="passwordFormButton">Change password</button>
        </form>
      </div>
    </div>
    <div class="mCard labelTable">
      <h2>Create Board</h2>
      <div id="boardCreationDiv">
        <form action="/createBoard.js" enctype="multipart/form-data" method="post">
          <label>
            <input placeholder="URI" type="text" class="creationField" name="boardUri" id="newBoardFieldUri">
          </label>
          <label>
            <input placeholder="Name" type="text" class="creationField" name="boardName" id="newBoardFieldName">
          </label>
          <label>
            <input placeholder="Description" class="creationField" type="text" name="boardDescription" id="newBoardFieldDescription">
          </label>
          <div class="captchaDiv">
            <img src="/captcha.js" class="captchaImage" id="captchaImage" alt="">
            <br>
            <span class="captchaTimer"></span>
            <br>
            <input type="text" class="captchaField creationField" name="captcha" id="fieldCaptcha"
                                                                                 placeholder="answer">
            <a href="/noCookieCaptcha.js" class="small">no cookies?</a>
          </div>
          <button type="submit" id="newBoardFormButton">Create board</button>
        </form>
      </div>
    </div>
  </body>
  <script src="/.static/js/api.js?c={{ cache }}"></script>
  <script src="/.static/js/account.js?c={{ cache }}"></script>
  <script src="/.static/js/captchaUtils.js?c={{ cache }}"></script>
  <script src="/.static/js/themes.js?c={{ cache }}"></script>
  <script src="/.static/js/favouriteBoards.js?c={{ cache }}"></script>
</html>
