<!doctype html>
<html>
  <head id="fullHead"></head>
  <body>
    <nav id="topNav">
      <span id="navLinkSpan"></span>
    </nav>
    <header>
      <h1>User: <span id="loginLabel"></span></h1>
    </header>
    <div class="mCard">
      <h2>Account information</h2>
      <div>
        E-mail: <span id="emailLabel"></span><br>
        Last seen: <span id="lastSeenLabel"></span><br>
        Global role: <span id="globalRoleLabel"></span>
      </div>
    </div>
    <div class="mCard">
      <h2>Owned Boards</h2>
      <div id="ownedBoardsDiv" class="linkList mBody"></div>
    </div>
    <div class="mCard">
      <h2>Volunteered boards</h2>
      <div id="volunteeredBoardsDiv" class="linkList mBody"></div>
    </div>
    <div id="deletionForm" class="mCard">
      <h2>Delete Account</h2>
      <div>
        <form action="/deleteAccount.js" method="post" enctype="multipart/form-data">
          <label>
            <input id="confirmationCheckbox" type="checkbox" class="deleteAccountField" name="confirmation">
            Yes, I wish to transfer all this user's boards to me and then delete his account.
          </label>
          <input type="hidden" id="userIdentifier" name="account">
          <button id="deleteAccountFormButton" type="submit">Delete account</button>
        </form>
      </div>
    </div>
  </body>
  <script src="/.static/js/api.js?c={{ cache }}"></script>
  <script src="/.static/js/accountManagement.js?c={{ cache }}"></script>
  <script src="/.static/js/themes.js?c={{ cache }}"></script>
  <script src="/.static/js/favouriteBoards.js?c={{ cache }}"></script>
</html>
