<!doctype html>
<html>
  <head id="fullHead"></head>
  <body class="scrollY">
    <nav id="topNav">
      <span id="navLinkSpan"></span>
      <span id="navOptionsSpanHome"></span>
    </nav>
    <header id="menuHeader"></header>
    <div id="cookieBanner"></div>
    <div id="subpageWrapper">
      <h2>Archives</h2>
      <div>
        <form action="/archives.js" method="GET">
          <label>
            Boards:
            <input name="boards" id="fieldBoards" type="text">
          </label>
          <button type="submit">Filter</button>
        </form>
        <hr>
        <div id="divThreads"></div>
        <div id="divPages"></div>
      </div>
    </div>
    <footer id="footer"></footer>
  </body>
  <script src="/.static/js/api.js?c={{ cache }}"></script>
  <script src="/.static/js/favouriteBoards.js?c={{ cache }}"></script>
  <script src="/.static/js/filterManagement.js?c={{ cache }}"></script>
  <script src="/.static/js/consent.js?c={{ cache }}"></script>
</html>
