<!doctype html>
<html>
  <head id="fullHead"></head>
  <body class="scrollY">
    <nav id="topNav">
      <span id="navLinkSpan"></span>
      <span id="navOptionsSpanHome"></span>
    </nav>
    <header id="menuHeader"></header>
    <div id="cookieBanner"></div>
    <div id="subpageWrapper">
      <h2>Boards</h2>
      <div>
        <div class="search">
          <form action="/boards.js" method="get">
            <!-- <input type="text" name="boardUri" placeholder="board"> -->
            <!-- <input type="text" name="tags" placeholder="tags"> -->
            <select name="sorting">
              <option value=''>Most popular</option>
              <option value='1'>Least popular</option>
              <option value='2'>Most posts first</option>
              <option value='3'>Least posts first</option>
              <option value='4'>Highest PPH first</option>
              <option value='5'>Lowest PPH first</option>
              <option value='6'>Alphabetic order</option>
              <option value='7'>Reverse alphabetic order</option>
            </select>
            <input type="submit" value="Sort" id="searchButton">
            <br>
            <!--
              <input type="checkbox" name="sfw" id="sfw">
              <label for="sfw">SFW boards only</label>
              <input type="checkbox" name="inactive" id="inactive">
              <label for="inactive">Abandoned boards only</label>
            -->
          </form>
        </div>
        <div id="divBoards">
          <div id="divBoardsLegend">
            <span class="cellComponent">Name</span>
            <span class="cellComponent" style="display: none;">Tags</span>
            <span id="labelPPH" class="cellComponent">PPH</span>
            <span id="labelPosts" class="cellComponent">Posts</span>
            <span id="labelUsers" class="cellComponent">Users</span>
          </div>
        </div>
        <div class="boardsPagination">
          <span class="boardPages">
            [ <div id="divPages"></div> ]
          </span>
        </div>
      </div>
    </div>
    <nav id="bottomNav">
      <span id="navLinkSpan2"></span>
    </nav>
    <footer id="footer"></footer>
  </body>
  <script src="/.static/js/api.js?c={{ cache }}"></script>
  <script src="/.static/js/favouriteBoards.js?c={{ cache }}"></script>
  <script src="/.static/js/consent.js?c={{ cache }}"></script>
  <script src="/.static/js/fallingSnow.js?c={{ cache }}"></script>
</html>
