<!doctype html>
<html>
  <head id="fullHeadRss"></head>
  <body>
    <span id='lineHeightDef' style='line-height:inherit;display:none;'>&nbsp;</span>
    <nav id="topNav">
      <span id="navLinkSpan"></span>
      <span id="navOptionsSpan"></span>
    </nav>
    <header class="boardHeader">
      <img id="bannerImage" alt=""><br>
      &#8291;
      <h1 style="margin-bottom: 0;"><span id="labelName"></span></h1>
      <div id="panelMessage">
        <div id="divMessage"></div>
      </div>
    </header>
    <div id="cookieBanner"></div>
    <div id="postingForm">
      <form action="/newThread.js" enctype="multipart/form-data" method="post">
        <table id="postingTable"> </table>
      </form>
    </div>
    <div id="threadList" class="boardThreadList">
      <form action="/contentActions.js" method="post" enctype="multipart/form-data">

        <div id="divThreads"></div>
        <hr class="clearer">
        <div class="threadPages">
          <span class="divPages">
            {{ lang.pages }}
            <a id="linkPrevious" class="brackets">{{ lang.previous }}</a>
            <span id="divPages"></span>
            <a id="linkNext" class="brackets">{{ lang.next }}</a>
            <a href="catalog.html" class="navCatalog brackets">{{ lang.catalog }}</a>
          </span>
        </div>
        <div id="postModerationFields"></div>
        <div id="divMod" class="mCard labelTable"></div>
    </div>
    <nav id="bottomNav">
      <span id="navLinkSpan2"></span>
      <span id="boardContentLinks">
        <span>[</span>
        <a id="linkManagement">{{ lang.manageBoard }}</a>
        <span>/</span>
        <a id="linkMod">{{ lang.moderateThreads }}</a>
        <span>]</span>
        <a class="brackets" id="linkModeration">{{ lang.moderateBoard }}</a>
      </span>
    </nav>
    <footer id="footer"></footer>
    <!-- Not used -->
    <p style="display:none;" id="labelDescription"></p>
  </body>

  <script src="/.static/js/eventEmitter.js?c={{ cache }}" defer></script>

  <script src="/.static/js/polyfill.js?c={{ cache }}" defer></script>
  <script src="/.static/js/crypto.js?c={{ cache }}" defer></script>
  <script src="/.static/js/api.js?c={{ cache }}" defer></script>


  <script src="/.static/js/posting.js?c={{ cache }}" defer></script>

  <script src="/.static/js/captchaUtils.js?c={{ cache }}" defer></script>
  <script src="/.static/js/captchaModal.js?c={{ cache }}" defer></script>

  <!--
  <script src="/.static/js/qr.js?c={{ cache }}" defer></script>
  <script src="/.static/js/thread.js?c={{ cache }}" defer></script>
  !-->
    <script src="/.static/js/board.js?c={{ cache }}" defer></script>

    <script src="/.static/js/bypass.js?c={{ cache }}" defer></script>
    <script src="/.static/js/bypassUtils.js?c={{ cache }}" defer></script>
  
  <script src="/.static/js/dynDel.js?c={{ cache }}" defer></script>
  <script src="/.static/js/postCommon.js?c={{ cache }}" defer></script>
  <script src="/.static/js/preview.js?c={{ cache }}" defer></script>
  <script src="/.static/js/thumbs.js?c={{ cache }}" defer></script>
  <!--<script src="/.static/js/embed.js?c={{ cache }}"></script>-->
  <script src="/.static/js/expandComment.js?c={{ cache }}" defer></script>
  <script src="/.static/js/tooltips.js?c={{ cache }}" defer></script>
  <script src="/.static/js/draggable.js?c={{ cache }}" defer></script>
  <script src="/.static/js/threadEnter.js?c={{ cache }}" defer></script>
  <script src="/.static/js/settingsMenu.js?c={{ cache }}" defer></script>
  <script src="/.static/js/hiding.js?c={{ cache }}" defer></script>
  <script src="/.static/js/mediaHiding.js?c={{ cache }}" defer></script>
  <script src="/.static/js/postingMenu.js?c={{ cache }}" defer></script>
  <!--<script src="/.static/js/watcher.js?c={{ cache }}" defer></script>!-->
  <!-- <script src="/.static/js/gallery.js?c={{ cache }}" defer></script> !-->
  <!--<script src="/.static/js/favouriteBoards.js?c={{ cache }}" defer></script>!-->
  <!--<script src="/.static/js/consent.js?c={{ cache }}" defer></script>!-->
  <script src="/.static/js/mod.js?c={{ cache }}" defer></script>
  <!--<script src="/.static/js/oekaki.js?c={{ cache }}" defer></script>!-->
  
  <script src="/.static/js/seuraaja.js?c={{ cache }}" defer></script>
</html>
