<!doctype html>
<html>
  <head id="fullHeadRss"></head>
  <body>
    <nav id="topNav">
      <span id="navLinkSpan"></span>
      <span id="navOptionsSpan"></span>
    </nav>
    <header class="boardHeader">
      <a href=".">
        <img src="/randomBanner.js" id="bannerImage" alt="">
      </a><br>
      &#8291;
      <h1 id="catalogId">
        <span class="title">{{ lang.catalogOf }} </span><a href="index.html"><span id="labelBoard"></span></a>
      </h1>
    </header>
    <div id="postingForm">
      <button id="togglePosting" class="hidden">Post thread</button>
      <h2>{{ lang.modeThread }}</h2>
      <form action="/newThread.js" enctype="multipart/form-data" method="post">
        <table id="postingTable"> </table>
      </form>
    </div>
    <div id="divTools" class="hiddenVisibility">
      <input type="text" id="catalogSearchField" placeholder="{{ lang.search }}">
      <select id="catalogOrderBySelection" size="1">
        <option value="bumpOrder">{{ lang.bumpOrder }}</option>
        <option value="creationDate">{{ lang.creationDate }}</option>
        <option value="postCount">{{ lang.postCount }}</option>
        <option value="fileCount">{{ lang.fileCount }}</option>
      </select>
      <button id="catalogRefreshButton" class="catalogLabel">{{ lang.refresh }}</button>
      <input type="checkbox" id="autoCatalogRefreshCheckBox">
      <span class="catalogLabel" id="catalogRefreshLabel">
        <label for="autoCatalogRefreshCheckBox">Auto</label>
      </span>
    </div>
    <hr>
    <div id="divThreads" class="catalogDiv"></div>
    <nav id="bottomNav">
      <span id="navLinkSpan2"></span>
    </nav>
    <footer id="footer"></footer>
  </body>
  <script src="/.static/js/crypto.js?c={{ cache }}"></script>
  <script src="/.static/js/api.js?c={{ cache }}"></script>
  <script src="/.static/js/board.js?c={{ cache }}"></script>
  <script src="/.static/js/postCommon.js?c={{ cache }}"></script>
  <script src="/.static/js/captchaModal.js?c={{ cache }}"></script>
  <script src="/.static/js/thumbs.js?c={{ cache }}"></script>
  <script src="/.static/js/preview.js?c={{ cache }}"></script>
  <script src="/.static/js/captchaUtils.js?c={{ cache }}"></script>
  <script src="/.static/js/catalog.js?c={{ cache }}"></script>
  <script src="/.static/js/draggable.js?c={{ cache }}"></script>
  <script src="/.static/js/watcher.js?c={{ cache }}"></script>
  <script src="/.static/js/favouriteBoards.js?c={{ cache }}"></script>
  <script src="/.static/js/settingsMenu.js?c={{ cache }}"></script>
  <script src="/.static/js/fallingSnow.js?c={{ cache }}"></script>
  <script src="/.static/js/mod.js?c={{ cache }}"></script>
</html>
