<!doctype html>
<html>
  <head id="fullHead"></head>
  <body>
    <nav id="topNav">
      <span id="navLinkSpan"></span>
    </nav>
    <header>
      <h1>Closed Reports</h1>
    </header>
    <div class="mCard">
      <h2>Report list</h2>
      <div id="reportDiv"></div>
    </div>
  </body>
  <script src="/.static/js/api.js?c={{ cache }}"></script>
  <script src="/.static/js/themes.js?c={{ cache }}"></script>
  <script src="/.static/js/favouriteBoards.js?c={{ cache }}"></script>
</html>
