<!doctype html>
<html>
  <head id="fullHead"></head>
  <body class="scrollY">
    <nav id="topNav">
      <span id="navLinkSpan"></span>
      <span id="navOptionsSpanHome"></span>
    </nav>
    <header id="menuHeader"></header>
    <div id="cookieBanner"></div>
    <div id="subpageWrapper">
      <h2>Graafeja</h2>
      <div>
        <form method="get" action="graphs.js">
          <label>
            Vuosi: <input type="text" name="year" placeholder="YYYY">
          </label>
          <input type="submit" value="Search">
        </form>
        <hr>
        <div id="divDates" class="linkList"></div>
      </div>
    </div>
    <footer id="footer"></footer>
  </body>
  <script src="/.static/js/api.js?c={{ cache }}"></script>
  <script src="/.static/js/favouriteBoards.js?c={{ cache }}"></script>
  <script src="/.static/js/consent.js?c={{ cache }}"></script>
</html>
