<!doctype html>
<html>

<head id="fullHead"></head>

<body class="scrollY">
  <nav id="topNav">
    <span id="navLinkSpan"></span>
    <span id="navOptionsSpanHome"></span>
  </nav>
  <header id="menuHeaderFront"></header>
  <div id="cookieBanner"></div>


  <div id="divBoards"></div>


  <div id="subpageWrapper">
    <div id="divRules" style="text-align: center">
      <p>
        Salachan on tuore Suomalainen puhtaalta pöydältä luotu kuvalauta vaihtoehdoksi nykyisille vaihtoehdoille.<br>
        Sivulla ei ole määriteltyjä sääntöjä ja sitä sivotaan Suomen lakien ja Valvojien mielivallan turvin,
        maalaisjärkeä noudattamalla välttänee porttikiellon.
        <br><br>
        Poikkeuksena on mainittava että keskustelu Salachanista sekä muista suomalaisista kuvalaudoista on sallittua
        ainoastaan /skene/ -alalaudalla.
      </p>
    </div>
  </div>


  <div id="subpageWrapper">
    <div id="divStats" style="text-align: center">
      <div>
        Salachaniin on lähetetty <b><span id="labelTotalPosts"></span></b>
        (viimeiseltä tunnilta <b><span id="labelTotalPPH"></span></b>) postausta
        <b><span id="labelTotalIps"></span></b> eri IP-osoitteesta.
      </div>
      <br>
      <div>
        Tallennettuja tiedostoja on sivulla yhteensä <b><span id="labelTotalFiles"></span></b> kpl yhteiskoon ollessa
        <b><span id="labelTotalSize"></span></b>.
      </div>
    </div>
    <!--
        <h2 id="latestImagesHeading">{{ lang.latestImages }}</h2>
        <div id="divLatestImages"></div>
        <h2 id="latestPostsHeading">{{ lang.latestPosts }}</h2>
        <div id="divLatestPosts"></div>
        <div id="divBoards" style="display: none;"></div>
        !-->
    <div id="divPrivacy" style="text-align: center">
      <p>
        Viestin lähetyksen yhteydessä käytetty IP-osoite säilötään kahdeksi päiväksi.
      </p>
    </div>

    <div id="divLatestImages"></div>
  </div>

  <footer id="footer"></footer>
</body>
<!--
  <script src="/.static/js/api.js?c={{ cache }}"></script>
  <script src="/.static/js/draggable.js?c={{ cache }}"></script>
  <script src="/.static/js/watcher.js?c={{ cache }}"></script>
  <script src="/.static/js/favouriteBoards.js?c={{ cache }}"></script>
  <script src="/.static/js/consent.js?c={{ cache }}"></script>
  <script src="/.static/js/fallingSnow.js?c={{ cache }}"></script>
  <script src="/.static/js/stats.js?c={{ cache }}"></script>
  !-->

</html>