<!doctype html>
<html>
  <head id="fullHead"></head>
  <body>
    <nav id="topNav">
      <span id="navLinkSpan"></span>
    </nav>
    <header>
      <h1>Latest Postings</h1>
    </header>
    <div class="mCard">
      <h2>Search</h2>
      <div>
        <form action="/latestPostings.js" method="get">
          <input placeholder="Date" type="text" name="date" id="fieldDate">
          <br>
          <span id="panelIp"><input placeholder="Ip" type="text" name="ip" id="fieldIp"></span> <br>
          <input placeholder="Boards separated by comma" id="fieldBoards" type="text" name="boards">
          <br>
          <input type="hidden" name="banId" id="inputBanId">
          <input type="hidden" name="boardUri" id="inputBoardUri">
          <input type="hidden" name="threadId" id="inputThreadId">
          <input type="hidden" name="postId" id="inputPostId">
          <button id="buttonLoadMore" class="hidden">Refresh</button>
          <button type="submit">Search</button>
        </form>
      </div>
    </div>
    <form action="/contentActions.js" method="post" enctype="multipart/form-data">
      <div class="mCard boardThreadList">
        <h2>
          <a id="linkPrevious">&lt;&lt;</a>
          <span> Postings </span>
          <a id="linkNext">&gt;&gt;</a>
        </h2>
        <div>
          <div id="divPostings"></div>
        </div>
      </div>
    </div>
   </form>
  </body>
  <script src="/.static/js/polyfill.js?c={{ cache }}"></script>
  <script src="/.static/js/api.js?c={{ cache }}"></script>
  <script src="/.static/js/themes.js?c={{ cache }}"></script>
  <script src="/.static/js/captchaModal.js?c={{ cache }}"></script>
  <script src="/.static/js/favouriteBoards.js?c={{ cache }}"></script>
  <script src="/.static/js/posting.js?c={{ cache }}"></script>
  <script src="/.static/js/mediaHiding.js?c={{ cache }}"></script>
  <script src="/.static/js/latestPostings.js?c={{ cache }}"></script>
  <script src="/.static/js/embed.js?c={{ cache }}"></script>
  <script src="/.static/js/draggable.js?c={{ cache }}"></script>
  <script src="/.static/js/settingsMenu.js?c={{ cache }}"></script>
  <script src="/.static/js/tooltips.js?c={{ cache }}"></script>
  <script src="/.static/js/hiding.js?c={{ cache }}"></script>
  <script src="/.static/js/thumbs.js?c={{ cache }}"></script>
  <script src="/.static/js/expandComment.js?c={{ cache }}"></script>
  <script src="/.static/js/dynDel.js?c={{ cache }}"></script>
  <script src="/.static/js/postingMenu.js?c={{ cache }}"></script>
  <script src="/.static/js/captchaUtils.js?c={{ cache }}"></script>
  <script src="/.static/js/boardTooltip.js?c={{ cache }}"></script>
</html>
