<!doctype html>
<html>
  <head id="fullHead"></head>
  <body class="scrollY">
    <nav id="topNav">
      <span id="navLinkSpan"></span>
      <span id="navOptionsSpanHome"></span>
    </nav>
    <header id="menuHeader"></header>
    <div id="subpageWrapper">
      <h2>Login</h2>
      <div>
        <form action="/login.js" enctype="multipart/form-data" method="post">
          <input type="text" name="login" class="loginField" id="loginFieldLogin" placeholder="login">
          <input type="password" class="loginField" id="loginFieldPassword" name="password" placeholder="password">
          <input type="submit" id="loginFormButton" value="Login" />
          <div id="divRemember">
            <label>
              <input type="checkbox" name="remember" class="loginField" id="checkboxRemember">
              Remember me
            </label>
          </div>
          <div id="divSavePassword">
            <label>
              <input type="checkbox" name="savePassword" class="loginField" id="savePasswordCheckbox">
              Show save password prompt
            </label>
          </div>
        </form>
        <div id="divCreation">
          <h3>Register</h3>
          <form action="/registerAccount.js" enctype="multipart/form-data" method="post">
            <input type="text" name="login" class="registerField" id="registerFieldLogin" placeholder="login">
            <input type="password" class="registerField" id="registerFieldPassword" name="password" placeholder="password">
            <input type="email" class="registerField" id="registerFieldEmail" name="email" placeholder="email">
            <div class="captchaDiv">
              <img id="captchaImage" class="captchaImage" src="/captcha.js" alt="">
              <br>
              <span class="captchaTimer"></span>
              <br>
              <input name="captcha" type="text" class="captchaField registerField" id="fieldCaptcha" placeholder="answer">
              <a class="small" href="/noCookieCaptcha.js">no cookies?</a>
            </div>
            <button type="submit" id="registerFormButton">Register</button>
          </form>
          <hr>
        </div>
      </div>
    </div>
    <footer id="footer"></footer>
  </body>
  <script src="/.static/js/api.js?c={{ cache }}"></script>
  <script src="/.static/js/login.js?c={{ cache }}"></script>
  <script src="/.static/js/captchaUtils.js?c={{ cache }}"></script>
  <script src="/.static/js/favouriteBoards.js?c={{ cache }}"></script>
</html>
