<!DOCTYPE html>
<html>
  <head id="fullHead"></head>
  <body>
    <nav id="topNav">
      <span id="navLinkSpan"></span>
    </nav>
    <header>
      <h1>Open Reports</h1>
    </header>
    <div class="mCard boardThreadList">
      <h2>Report list</h2>
      <div id="reportDiv"></div>
    </div>
    <div class="mCard labelTable">
      <h2>Actions</h2>
      <div>
        <form method="post" action="/closeReports.js" enctype="multipart/form-data">
          <label>
            <input type="checkbox" class="closeReportsField" name="closeAllFromReporter" id="closeAllFromReporterCheckbox" autocomplete="off">
            Close all from same reporters
          </label>
          <label>
            <input type="checkbox" class="closeReportsField" name="deleteContent" id="deleteContentCheckbox" autocomplete="off">
            Delete reported content
          </label>
          <hr>
          <label>
            Ban target:
            <select name="banTarget" id="banTargetCombo" autocomplete="off">
              <option value="0">None</option>
              <option value="1">Post</option>
              <option value="2">Reporter</option>
            </select>
          </label>
          <label>
            <input placeholder="ban duration" type="text" class="closeReportsField" id="fieldBanDuration" name="duration" autocomplete="off">
          </label>
          <label>
            <input placeholder="ban reason" type="text" class="closeReportsField" id="fieldBanReason" name="banReason" autocomplete="off">
          </label>
        <hr>
        <button type="submit" id="closeReportsFormButton">Close reports</button>
        </form>
      </div>
    </div>
  </body>
  <script src="/.static/js/polyfill.js?c={{ cache }}"></script>
  <script src="/.static/js/api.js?c={{ cache }}"></script>
  <script src="/.static/js/dynDel.js?c={{ cache }}"></script>
  <script src="/.static/js/themes.js?c={{ cache }}"></script>
  <script src="/.static/js/favouriteBoards.js?c={{ cache }}"></script>
  <script src="/.static/js/captchaUtils.js?c={{ cache }}"></script>
  <script src="/.static/js/captchaModal.js?c={{ cache }}"></script>
  <script src="/.static/js/postingMenu.js?c={{ cache }}"></script>
  <script src="/.static/js/thumbs.js?c={{ cache }}"></script>
  <script src="/.static/js/expandComment.js?c={{ cache }}"></script>
  <script src="/.static/js/posting.js?c={{ cache }}"></script>
  <script src="/.static/js/tooltips.js?c={{ cache }}"></script>
  <script src="/.static/js/embed.js?c={{ cache }}"></script>
  <script src="/.static/js/reports.js?c={{ cache }}"></script>
  <script src="/.static/js/boardTooltip.js?c={{ cache }}"></script>
</html>
