<!doctype html>
<html>
  <head id="fullHead"></head>
  <body>
    <span id='lineHeightDef' style='line-height:inherit;display:none;'>&nbsp;</span>
    <nav id="topNav">
      <span id="navLinkSpan"></span>
      <span id="navOptionsSpanHome"></span>
    </nav>
    <header class="boardHeader">
      <img id="bannerImage" src="/randomBanner.js" alt=""><br>
      &#8291;
    </header>
    <div id="cookieBanner"></div>
    <div id="threadList" class="boardThreadList">
      <form action="/contentActions.js" method="post" enctype="multipart/form-data">
        <div id="divThreads"></div>
      </form>
    </div>
    <hr class="clearer">
    <div id="postModerationFields"></div>
    <nav id="bottomNav">
      <span id="navLinkSpan2"></span>
    </nav>
    <footer id="footer"></footer>
  </body>

  <script src="/.static/js/eventEmitter.js?c={{ cache }}" defer></script>

  <script src="/.static/js/polyfill.js?c={{ cache }}"></script>
  <script src="/.static/js/api.js?c={{ cache }}"></script>
  <script src="/.static/js/overboard.js?c={{ cache }}"></script>
  <script src="/.static/js/dynDel.js?c={{ cache }}"></script>
  <script src="/.static/js/thumbs.js?c={{ cache }}"></script>
  <script src="/.static/js/tooltips.js?c={{ cache }}"></script>
  <script src="/.static/js/posting.js?c={{ cache }}" defer></script>
  <script src="/.static/js/draggable.js?c={{ cache }}"></script>
  <script src="/.static/js/settingsMenu.js?c={{ cache }}"></script>
  <!--<script src="/.static/js/embed.js?c={{ cache }}"></script>-->
  <script src="/.static/js/expandComment.js?c={{ cache }}" defer></script>
  <script src="/.static/js/hiding.js?c={{ cache }}"></script>
  <script src="/.static/js/mediaHiding.js?c={{ cache }}"></script>
    <script src="/.static/js/postCommon.js?c={{ cache }}" defer></script>

  <script src="/.static/js/board.js?c={{ cache }}"></script>
  <script src="/.static/js/captchaUtils.js?c={{ cache }}"></script>
  <script src="/.static/js/postingMenu.js?c={{ cache }}"></script>
  <script src="/.static/js/watcher.js?c={{ cache }}"></script>
  <script src="/.static/js/captchaModal.js?c={{ cache }}"></script>
  <script src="/.static/js/favouriteBoards.js?c={{ cache }}"></script>
  <script src="/.static/js/consent.js?c={{ cache }}"></script>
  <script src="/.static/js/mod.js?c={{ cache }}"></script>

    <script src="/.static/js/seuraaja.js?c={{ cache }}" defer></script>

</html>
