<!doctype html>
<html>
  <head id="fullHead"></head>
  <body>
    <span id='lineHeightDef' style='line-height:inherit;display:none;'>&nbsp;</span>
    <nav id="topNav">
      <span id="navLinkSpan"></span>
      <span id="navOptionsSpanThread"></span>
    </nav>
    <header class="boardHeader" style="margin-bottom: 0;">
      <img id="bannerImage" alt=""><br>
      &#8291;
      <h1 style="margin-bottom: 0;"><span id="labelName"></span></h1>
      <div id="panelMessage">
        <div id="divMessage"></div>
      </div>
    </header>
    <div id="cookieBanner"></div>
    <div id="mainPanel">
      <div id="postingForm">
        <form action="/replyThread.js" enctype="multipart/form-data" method="post">
          <input type="hidden" name="threadId" id="threadIdentifier">
          <table id="postingTable"></table>
        </form>
      </div>
      <div id="threadList">
        <form method="post" action="/contentActions.js" enctype="multipart/form-data">
          <div id="divThreads"></div>
          <hr class="clearer">
          <div id="divRefreshContainer">
            <a class="brackets" href="..">{{ lang.return }}</a>
            <a class="brackets" href="#topNav">{{ lang.goToTop }}</a>
            <a class="brackets" href="../catalog.html">{{ lang.catalog }}</a>
            <span class="divRefresh hidden">
              <a id="qrButton" class="brackets">{{ lang.quickReply }}</a>
              <a id="refreshButton" class="brackets">{{ lang.update }}</a>
              <label class="parentheses">
                <input id="checkboxChangeLock" type="checkbox">
                {{ lang.refreshLock }} </label>
              <label class="parentheses">
                <input id="checkboxChangeRefresh" type="checkbox" checked>
                {{ lang.refreshAuto }} </label>
              <span id="labelRefresh"></span>
            </span>
          </div>
          <div id="postModerationFields"></div>
          <div id="divMod" class="mCard labelTable"></div>
          <div id="divControls" class="mCard labelTable">

            <h2>Thread Settings</h2>
            <div>
              <form action="/changeThreadSettings.js" method="post" enctype="multipart/form-data">
                <label>
                  <input name="lock" class="threadSettingsField" id="checkboxLock" type="checkbox">
                  Lock
                </label>
                <label>
                  <input class="threadSettingsField" name="pin" id="checkboxPin" type="checkbox">
                  Pin
                </label>
                <label>
                  <input type="checkbox" class="threadSettingsField" name="cyclic" id="checkboxCyclic">
                  Cyclic
                </label>
                <label>
                  <input type="checkbox" class="threadSettingsField" name="autoSage" id="checkboxAutoSage">
                  Autosage
                </label>
                <input type="hidden" name="boardUri" id="controlBoardIdentifier">
                <input type="hidden" name="threadId" id="controlThreadIdentifier">
                <button type="submit" id="settingsFormButon">Save</button>
              </form>
            </div>
          </div>
          <div id="divArchive" class="mCard labelTable">
            <h2>Archive Thread</h2>
            <div>
              <form action="/archiveThread.js" method="post" enctype="multipart/form-data">
                <label>
                  <input name="confirmation" class="archiveField" id="checkboxArchive" type="checkbox">
                  Yes, I wish to lock and archive this thread
                </label>
                <input type="hidden" name="boardUri" id="archiveBoardIdentifier">
                <input type="hidden" name="threadId" id="archiveThreadIdentifier">
                <button type="submit" id="archiveFormButon">Archive</button>
              </form>
            </div>
          </div>
          <div id="formTransfer" class="mCard labelTable">
            <h2>Transfer Thread</h2>
            <div>
              <form action="/transferThread.js" enctype="multipart/form-data" method="post" class="formTransfer">
                <input type="hidden" name="boardUri" id="transferBoardIdentifier">
                <input type="hidden" name="threadId" id="transferThreadIdentifier">
                <label>
                  Destination board:
                  <input type="text" class="transferField" id="fieldDestinationBoard" name="boardUriDestination">
                </label>
                <button type="submit" id="transferFormButton">Transfer thread</button>
              </form>
            </div>
          </div>
          <div id="divMerge" class="mCard labelTable">
            <h2>Merge Thread</h2>
            <div>
              <form action="/mergeThread.js" enctype="multipart/form-data" method="post" id="formMerge" class="formMerge">
                <input type="hidden" name="boardUri" id="mergeBoardIdentifier">
                <input type="hidden" name="threadSource" id="mergeThreadIdentifier">
                <label>
                  Destination thread:
                  <input type="text" class="mergeField" id="fieldDestinationThread" name="threadDestination">
                </label>
                <button type="submit" id="mergeFormButton">Merge thread</button>
              </form>
            </div>
          </div>
          <div id="ipDeletionForm" class="mCard labelTable">
            <h2>Delete from IP</h2>
            <div>
              <form method="post" action="/deleteFromIp.js" enctype="multipart/form-data">
                <label>
                  Non-hashed ip:
                  <input type="text" class="ipDeletionField" name="ip" id="ipField">
                </label>
                <label>
                  Delete only from these boards(Ex:"b v", leaving blank will delete
                  from all boards)
                  <input type="text" class="ipDeletionField" name="boards" id="fieldBoards">
                </label>
                <button type="submit" id="deleteFromIpFormButton">Delete from IP</button>
              </form>
            </div>
          </div>
        </form>
      </div>
      <nav id="bottomNav">
        <span id="navLinkSpan2"></span>
        <span id=boardContentLinks>
          <span>[</span>
          <a id="linkManagement">{{ lang.manageBoard }}</a>
          <span>/</span>
          <a id="linkMod">{{ lang.moderateThread }}</a>
          <span>]</span>
        </span>
      </nav>
      <footer id="footer"></footer>
      <!-- Not used -->
      <p style="display:none;" id="labelDescription"></p>
    </div>
  </body>

  <script src="/.static/js/eventEmitter.js?c={{ cache }}"></script>

  <script src="/.static/js/polyfill.js?c={{ cache }}"></script>
  <script src="/.static/js/crypto.js?c={{ cache }}"></script>
  <script src="/.static/js/api.js?c={{ cache }}"></script>

  <script src="/.static/js/posting.js?c={{ cache }}"></script>
  <script src="/.static/js/thread.js?c={{ cache }}"></script>

  <script src="/.static/js/dynDel.js?c={{ cache }}"></script>
  <script src="/.static/js/postCommon.js?c={{ cache }}"></script>
  <script src="/.static/js/captchaModal.js?c={{ cache }}"></script>
  <script src="/.static/js/preview.js?c={{ cache }}"></script>
  <script src="/.static/js/thumbs.js?c={{ cache }}"></script>
  <!--<script src="/.static/js/embed.js?c={{ cache }}"></script>-->
  <script src="/.static/js/expandComment.js?c={{ cache }}"></script>
  <script src="/.static/js/tooltips.js?c={{ cache }}"></script>
  <script src="/.static/js/captchaUtils.js?c={{ cache }}"></script>
  <script src="/.static/js/draggable.js?c={{ cache }}"></script>
  <script src="/.static/js/qr.js?c={{ cache }}"></script>
  <script src="/.static/js/threadEnter.js?c={{ cache }}"></script>
  <script src="/.static/js/settingsMenu.js?c={{ cache }}"></script>
  <script src="/.static/js/hiding.js?c={{ cache }}"></script>
  <script src="/.static/js/mediaHiding.js?c={{ cache }}"></script>
  <script src="/.static/js/postingMenu.js?c={{ cache }}"></script>
  <script src="/.static/js/watcher.js?c={{ cache }}"></script>
  <script src="/.static/js/gallery.js?c={{ cache }}"></script>
  <script src="/.static/js/favouriteBoards.js?c={{ cache }}"></script>
  <script src="/.static/js/consent.js?c={{ cache }}"></script>
  <script src="/.static/js/mod.js?c={{ cache }}"></script>
  <script src="/.static/js/oekaki.js?c={{ cache }}"></script>
  <script src="/.static/js/audioThread.js?c={{ cache }}"></script>
  <script src="/.static/js/seuraaja.js?c={{ cache }}"></script>

</html>
