<table>
  <tbody>
    <tr>
      <th>ASN</th>
      <td class="asnLabel"></td>
    </tr>
    <tr>
      <th>Reason</th>
      <td class="reasonLabel"></td>
    </tr>
    <tr>
      <th>Expiration</th>
      <td class="expirationLabel"></td>
    </tr>
    <tr>
      <th>Non-bypassable</th>
      <td class="bypassableLabel">Yes</td>
    </tr>
    <tr>
      <th>Action</th>
      <td>
        <button type="submit" class="liftFormButton">Lift ban</button>
      </td>
    </tr>
  </tbody>
</table>
<input type="hidden" class="idIdentifier" name="banId">
<hr>
