<div class="catalogHeader">
  <img class="catalogFlag">
  <a class="labelSubject"></a>
</div>
<div class="thumbGrid">
  <div class="thumbGridTop"></div>
  <div class="thumbGridBottom"></div>
</div>
<div class="threadStats">
  {{ lang.catalogRepliesLetter }}: <span class="labelReplies"></span> /
  {{ lang.catalogFilesLetter }}: <span class="labelImages"></span> /
  {{ lang.catalogPagesLetter }}: <span class="labelPage"></span>
  <img class="lockIndicator" title="Locked" src="/.static/images/locked.gif" alt="locked">
  <img class="pinIndicator" title="Sticky" src="/.static/images/sticky.gif" alt="sticky">
  <img class="cyclicIndicator" title="Cyclical Thread" src="/.static/images/cyclic.png" alt="cyclic">
  <span class="bumpLockIndicator" title="Bumplocked">AS!</span>
</div>
<div class="divMessage"></div>

