<div class="innerPost">
  <div class="postInfo title">
    <span class="extraMenuButton">▶</span>&nbsp;
    <span class="labelBoard"></span>
    <img class="imgFlag">
    <a class="linkName"></a>
    <span class="labelSubject"></span>
    <span class="modsLinks">
      <a title="History" class="linkHistory brackets">H</a>
      <a title="File History" class="linkFileHistory brackets">FH</a>
      <a title="Offense Record" class="linkOffenseRecord brackets">OR</a>
    </span>
    <span class="labelRole"></span>
    <span class="labelCreated"></span>
    <span class="spanId">
      <span class="labelId"></span>
    </span>
    <a class="linkSelf">{{ lang.no }}</a>
    <a class="linkQuote"></a>
    <span class="sage"></span>
    <a class="linkEdit brackets">{{ lang.edit }}</a>
    <span class="postCountPreset"></span>
    <input type="checkbox" class="deletionCheckBox">

    <span class="panelBacklinks"></span>
  </div>
  <div class="panelASN">
    ASN: <span class="labelASN"></span>
  </div>
  <div class="panelBypassId">
    Bypass Id: <span class="labelBypassId"></span>
  </div>
  <div class="panelIpContainer">
    <span class="panelIp"><span class="panelRange">
        <span title="Broad range(1/2 octets)">BR</span>: <span class="labelBroadRange"> </span>
        <span title="Narrow range(3/4 octets)">NR</span>: <span class="labelNarrowRange"> </span>
    </span> Ip: <span class="labelIp"></span>
    </span>
  </div>
  <div class="panelUploads"></div>
  <div class="contentOverflow">
    <div class="divMessage"></div>
  </div>
  <a class="commentExpand hidden">{{ lang.commentExpand }}</a>
  <div class="divBanMessage"></div>
  <div class="labelLastEdit"></div>
</div>
