<a class="imgLink" target="_blank"></a>

<div class="uploadDetails">
  <a class="nameLink" target="_blank"></a> <br>
  <span class="sizeLabel"></span>,
  <span class="dimensionLabel"></span>
  <a class="unlinkLink brackets">U</a>
  <a class="unlinkAndDeleteLink brackets">D</a>
  <div style="display:none" class="divHash">
  <span>SHA256: <span class="labelHash"></span></span>
  </div>
</div>
