$background: #e8e4e4;
$fontFamily: sans-serif;
$fontSize: 10pt;
$fontColor: #000000;
/*$linkColor: #1925d2;; */
$linkColor: #4f0c16;


/* Role signature for moderators */
$role_color: #ff0000;
$role_beforeContent: '## ';
$role_afterContent: ' ##';

/* Posting form */
$postingForm_background: #313370;
$postingForm_color: #ffffff;

/* Post */
$labelSubject_color: #cc3333;
$noEmailName_color: black;
$linkName_color: $noEmailName_color;
$linkName_hoverColor: #aa0000;
$linkSelf_color: $fontColor;
$linkSelf_hoverColor: $fontColor;
$linkQuote_color: $fontColor;
$linkQuote_hoverColor: $fontColor;
$sage_color: $role_color; // Also used for bumplock
$divBanMessage_color: $role_color;



/* Static pages */
$h2_background: #313370;
$h2_color: #ffffff;
$cardDiv_background: #dddddd;
$cardDiv_color: $fontColor;
$cardDiv_border: solid 1px $h2_background;

/* Brackets around Reply and other elements */
$brackets_color: #000000;
$brackets_beforeContent: '[';
$brackets_afterContent: ']';

/* Parantheses around Auto and other elements */
$parentheses_color: #000000;
$parentheses_beforeContent: '(';
$parentheses_afterContent: ')';

/* Upload cell */
$uploadCell_margin: 5px 20px 20px 5px;
$postUploadCell_background: #9999bb;
$postUploadCell_border: #aaaaff 1px solid;
$opUploadCell_background: #dddddd;
$opUploadCell_border: #aaaaaa 1px solid;

