.theme_tomorrow {
  background:#1d1f21 none;
  color:#C5C8C6;
  font-family: arial,helvetica,sans-serif;
  @import 'tomorrow';
}

.theme_hadmut {
  background: #f8f8f8;
  @import 'hadmut';
}

.theme_green {
  @import 'green';
}

.theme_yotsubaB {
  font-family: arial, helvetica, sans-serif;
  background:#eef2ff url(https://files.catbox.moe/7pornw.png) /* Couldn't host it here -- source: https://s.4cdn.org/image/fade-blue.png */ top center repeat-x;
  font-size: 10pt !important;
  @import 'yotsubaB';
}
