a, .reportdeletebuttons {
  color:#81a2be;
  text-decoration: none;
}

.linkQuote, .linkSelf {
  color:#81a2be !important;
}

a:hover {
  color:#5F89AC;
}

.linkQuote:hover, .linkSelf:hover {
  color:#5F89AC !important;
}

#settingsMenu > div:nth-child(3), #settingsMenu > div:nth-child(4) {
  background-color: #282a2e !important;
  border-color: #444 !important;
}

hr {
  background-color: #282a2e;
  border: 0;
  height: 1px;
  clear:left;
}

.red {
  color: #C5C8C6;
}

/*Nav*/
nav{
  background: #282a2e;
  color: #C5C8C6;
  border-bottom: 1px solid #111;
  z-index: 100;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}

/*Index*/
#topBox {
  text-align: center;
  font-size: 16px;
  padding: 10px 0 20px 0;
}

#innerWrapper > div, .infoBox {
  border: none;
  background: none;
}

.linkPost img{
  padding: 6px 0 6px 0;
}

footer {
  background: none;
  font-size: 10px;
  margin: 20px 0 10px 0;
}

/*boards.js*/
#boardsCellHeader span{
  background: #282a2e;
  border: 1px solid #111;
  color: #C5C8C6;
}

.boardsCell:nth-of-type(2n+1) span {
  background-color: #282a2e;
}

/*boardManagement, logs*/
.settings {
  background: none;
  border: none
}

.logCell {
  font-weight: bold;
  font-size: 15px;
  margin:10px;
  padding:0 5px 0 0;
}

.logCell p span {
  font-weight: normal;
  padding: 10px;
}

/*Board Header*/
#bannerImage {
  border: 1px solid #a9a9a9;
  margin-top: -5px;
  margin-bottom: 15px;
}

#modeBanner {
  background-color: #1d1f21;
  color:white;
  font-size: 12pt;
  font-weight: bold;
  margin: 1em 0;
}

.boardHeader p{
  font-family: tahoma;
  color: #C5C8C6;
}

.boardHeader p#labelName {
  font-weight: bold;
  font-size: 22pt;
}

.boardHeader a {
  font-family: arial, sans-serif;
  font-size: 12px;
}

#divMessage {
  text-align: center;
  color: #F20;
  font-size: 12px;
  font-weight: bold;
}

/*Post form*/
.form-post th {
  background: #282a2e;
  border: 1px solid #111;
  color: #C5C8C6;
}

input, button, textarea {
  padding: 3px 4px 3px;
  border: 1px solid #282a2e;
  background-color: #444;
  color: #BBB;
}

input:focus, button:focus, textarea:focus {
  border: 1px solid #C5C8C6;
}

/*Quick reply box*/
#quick-reply table {
  background: #282a2e;
  border: 1px solid #111;
  color: #C5C8C6;
}

#post-form-inner th {
  background: #282a2e !important;;
  border: 1px solid #111;
  color: #C5C8C6;
  text-align: center;
  padding: 2px 0;
  border: 1px solid #222;
}

#quick-reply th .handle {
  color: #C5C8C6;
  font-size: 13px;
}

/*Posts*/
.labelSubject {
  color: #446655;
  font-weight: bold;
  font-size: 13px;
}

.innerPost {
  background-color: #282a2e;
  border: 1px solid #282a2e;
  max-width: 95%;
}

.innerPost .uploadCell img {
  padding: 6px;
  margin-right: 20px;
}

.markedPost {
  background-color: #1d1d21;
  border: 1px solid #111;
}

#divThreads .linkSelf, #divThreads .linkQuote {
  color:#C5C8C6;
}

#divThreads .linkSelf:hover, #divThreads .linkQuote:hover {
  color:#5F89AC;
}

.divMessage {
  font-size: 13px;
  margin:12px 19px 12px 28px;
  padding:0 5px 0 0;
}

.quoteLink {
  color: #81a2be;
}

.noEmailName, .noEmailName:hover {
  font-size: 13px;
  color: #C5C8C6;
}

.labelRole {
  color: #F00000 !important;
  background-color: #000;
  padding: 2px 5px;
  border-radius: 10px;
  font-weight: normal;
}

.linkName:link {
  font-size: 13px;
  color: #81a2be;
}

.linkName:link:hover {
  color: #D00;
}

.panelBacklinks, .uploadCell, .labelLastEdit, .labelOmission {
  font-size: 11px;
  background: transparent !important;
  border: none !important;
}

.labelOmission {
  color: #707070;
  margin-top: 1em;
}

.contentOmissionIndicator {
  margin: 15px 0 5px 10px;
}

.divBanMessage {
  font-size: 14px;
  color: #ed1c24;
  margin: 0 10px 7px 10px;
}

/*hover reply box*/
.quoteblock {
  background: none !important;
}

.quoteblock .labelCreated, .quoteblock .linkQuote, .quoteblock .labelRole, .quoteblock .spanId, .quoteblock .linkSelf{
  font-size: 12px;
  color: #C5C8C6;
}

/*text formatting*/
.greenText{
  color: #adbd68;
}

span.spoiler {
  background: #000;
  color: #000;
}

.spoiler:hover {
  color: #FFF;
  background-color: #000;
}

.redText {
  font-size: 14px;
  color: #F20;
}

.catalogCell {
  background:rgba(0,0,0,.05);
}

.catalogCell .divMessage {
  min-width:0;
  margin: 0;
}

.catalogCell:hover .divMessage{
  background:#1c1d1f;
  outline: none;
}

.linkThumb img {
  box-shadow: 0 0 4px rgba(0,0,0,0.55);
  border: 2px solid rgba(153,153,153,0);
}

/*Board pages menu*/
.threadPages, .boardPages {
  color: #C5C8C6;
  background: none;
  border: none;
  font-size: 15px;
  margin-top: 25px;
}

.threadPages span {
  color: #C5C8C6;
}

#divPages {
  background: none;
}

/*report form*/
.contentAction {
  background-color: #282a2e;
  border: 1px solid #282a2e;
  float: none;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 25%;
  min-width:300px;
}

#reportFieldReason {
  margin-left: 2.1em;
}

#deletionFieldPassword {
  margin-left: 1em;
}

img#captchaImageReport {
  margin-left: auto;
  margin-right: auto;
}

/*hidepreview*/
.linkPreview {
  visibility: collapse;
}

.linkPreview + .linkSelf {
  margin-left: -50px; /*Move post number over Preview*/
}

.divMessage {
  min-width: 300px; /*fix post number position*/
}

.quoteblock .linkSelf {
  margin-left: 0; /*Fix hover post box*/
}

.catalogCell .divMessage {
  min-width: 0; /*Fix calalog*/
}

.brackets:after, .brackets:before {
  color: #C5C8C6;
}

.extraMenu div {
  background-color: #1d1f21;
}

.extraMenu div:hover {
  color: #1d1f21;
  background-color: #C5C8C6;
}

.hiddenThread {
  background-color: #1d1f21;
}

.innerPost .expandLabel,
.innerPost .collapseLabel,
.markedPost .expandLabel,
.markedPost .collapseLabel {
  background: #282a2e;
}

.innerOP .expandLabel,
.innerOP .collapseLabel {
  background: #1d1f21;
}

.innerPost .bottomGradient {
  background: linear-gradient(transparent, #282a2e) !important;
}

.innerOP .bottomGradient {
  background: linear-gradient(transparent, #1d1f21) !important;
}

/* Tomorrow Night Eighties Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
.hljs-comment,
.hljs-quote {
  color: #999999;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #f2777a;
}

/* Tomorrow Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #f99157;
}

/* Tomorrow Yellow */
.hljs-attribute {
  color: #ffcc66;
}

/* Tomorrow Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #99cc99;
}

/* Tomorrow Blue */
.hljs-title,
.hljs-section {
  color: #6699cc;
}

/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #cc99cc;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #2d2d2d;
  color: #cccccc;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
