.playerDivHidden {
    display: none !important;;
}

.playerBox {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    padding: 5px 1rem;
    background: #c2c2da;
    border: 2px solid #aaf;
    padding: 5px 2px 5px 2px;
}

.playerBox>:last-child {
    margin-right: 0 !important;
    display: block
}

.volControl {
    vertical-align: middle;
    width: 100px;
    margin-right: 10px !important
}

input[type=range] {
    margin: 13.8px 0;
    background-color: #0000;
    -webkit-appearance: none
}

input[type=range]:focus {
    outline: none
}

input[type=range]::-webkit-slider-runnable-track {
    background: #3071a9;
    border: .2px solid #010101;
    border-radius: 1.3px;
    width: 100%;
    height: 8.4px;
    cursor: pointer
}

input[type=range]::-webkit-slider-thumb {
    margin-top: -14px;
    width: 16px;
    height: 36px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    cursor: pointer;
    -webkit-appearance: none
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd
}

input[type=range]::-moz-range-track {
    background: #3071a9;
    border: .2px solid #010101;
    border-radius: 1.3px;
    width: 100%;
    height: 8.4px;
    cursor: pointer
}

input[type=range]::-moz-range-thumb {
    width: 10px;
    height: 30px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    cursor: pointer
}

input[type=range]::-ms-track {
    background: 0 0;
    border-color: #0000;
    border-width: 14.8px 0;
    color: #0000;
    width: 100%;
    height: 8.4px;
    cursor: pointer
}

input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: .2px solid #010101;
    border-radius: 2.6px
}

input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: .2px solid #010101;
    border-radius: 2.6px
}

input[type=range]::-ms-thumb {
    width: 10px;
    height: 30px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 0
}

input[type=range]:focus::-ms-fill-lower {
    background: #3071a9
}

input[type=range]:focus::-ms-fill-upper {
    background: #367ebd
}

@supports(-ms-ime-align:auto) {
    input[type=range] {
        margin: 0
    }
}

@media screen and (min-width: 1400px) {
    .playerBox {
        position: fixed;
        right: 1rem;
        bottom: 150px;
        float: right;
        width: 500px;
    }

    .playerBox>#playerList {
        max-height: 40vh;
    }
}


#playerControls>input[type="button"] {
    font-weight: bold;
}

#playerControls > * {
    padding: 0 5px 0 5px;
}

input[type="range"] {
    margin: 13.8px 0;
    margin-right: 0px;
    background-color: #0000;
    -webkit-appearance: none;
}

#audioFileName {
    text-align: right;
}

.volControl {
    vertical-align: middle;
    width: 100px;
    margin-right: 10px !important;
}

.playListItem {
    clear: both;
}

.playListItem>a {
    margin-left: 3px;
    float: right;
}

.playListItem:hover {
    background: #56556626;
}

.playListItem>input {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    min-width: 35px;
    font-weight: bold;
}

.playButton:not(.playing):not(:hover) {
    opacity: 0.5;
}

#playerList {
    max-height: 450px;
    overflow-y: auto;
    padding-right: 5px;
    scrollbar-width: thin;
    scrollbar-color: #8682bf #a5a0bf;
}

.playerBox > a {
    overflow: hidden;
    text-overflow: ellipsis;
}

.playButton {
    font-weight: bold;
    cursor: pointer;
}
