/*Elements shown on board and thread pages*/
@media only screen and (max-width: 479px) {
  #fieldName,
  #fieldMessage,
  #dragAndDropDiv {
    width: 100%;
  }

  #fieldSubject {
    width: 50%;
  }

  #formButton {
    width: 45%;
    float: right;
  }

  #divOekaki {
    display: none;
  }

  #postingForm {
    margin-bottom: 2em;
    max-width: 750px;
  }

  #postingTable {
    padding-left: 5px;
  }

  #postingTable th {
    display: none;
  }

  #rules_row ul {
    padding: 10px;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    margin-bottom: 0;
  }

  #checkboxMobileText {
    display: unset !important;
  }

  #checkboxSage {
    vertical-align: middle;
  }

  #postModerationFields {
    display: none;
  }

  #bottomNav {
    margin-top: 3.5em;
  }

}

#checkboxMobileText {
  display: none;
}


.selectedCell,
.dropzone {
  padding: 3px;
  overflow-x: hidden;
  white-space: nowrap;
}

.dropzone {
  cursor: pointer;
  color: rgba(19, 4, 4, 0.5);
  transition: all 0.2s ease 0s;
  padding: 10px 0px;
  border: 2px dashed rgba(125, 125, 125, 0.4);
  background-color: rgba(238, 237, 237, 0.5);
  margin-bottom: 0.4em;
  text-align: center;
}

.dropzone:hover {
  color: rgba(0, 0, 0, 1);
  border: 2px dashed rgba(125, 125, 125, 0.8);
}

.dragAndDropThumb {
  color: #000;
  cursor: default;
  text-align: center;
  max-height: 100px;
  transition: 0.2s;
  background-color: rgba(200, 200, 200, 0.5);
  overflow-y: auto;
  margin-top: 5px;
  max-width: 200px;
  cursor: pointer;
}

.dragAndDropDiv {
  color: #000;
  cursor: default;
  margin: auto;
  padding: 0px 4px;
  text-align: center;
  min-height: 50px;
  max-height: 140px;
  transition: 0.2s;
  background-color: rgba(200, 200, 200, 0.5);
  overflow-y: scroll;
}

.nameLabel {
  display: inline-block;
  max-width: 225px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#selectedDiv .selectedCell {
  margin: 5px 0px 5px 0px;
  float: unset;
}

.removeButton {
  cursor: pointer;
  color: rgba(125, 125, 125, 0.5);
  display: inline-block;
  margin-right: 5px;
  font-size: 20px;
}

.removeButton:hover {
  color: #7D7D7D;
}

#panelMessage {
  margin-bottom: 1em;
}

.flagPreview {
  display: inline-block;
  max-width: 10%;
  height: 16px;
}

#divUpload, .centered {
  text-align: center;
}

#divUpload {
  height: 70px;
}

#newPostFieldset {
  display: inline-block;
  padding-right: 0.75em;
  width: 25em;
}

#threadList {
  margin-left: 25px;
}


#postingTable {
  margin: 1em auto;
}

.boardThreadList  form #divThreads {
  display: flex;
  flex-direction: column;
}

#postingForm {
  text-align: center;
  background: #fdf4f4;;
  max-width: 600px;
  margin: auto;
  border: 1px solid #a6a0a0;
}

#postingForm td, .modalTableBody td {
  text-align: left;
}

#postingForm th, .modalTableBody th {
  font-weight: bold;
  text-align: left;
}

#autoCatalogRefreshCheckBox,
.identifierCheckbox,
#orphanedCheckbox,
input[type=checkbox].postingCheckbox,
input[type=checkbox].spoilerCheckBox,
input[type=checkbox].globalSettingsField,
input[type=checkbox].closeReportsField,
input[type=checkbox].boardSettingsField,
input[type=checkbox].closureCheckbox {
  vertical-align: middle;
}

.spoilerImg,
.spoilerCheckBox
{
  display: none;
}

.spoilerImg {
  cursor: pointer;
}

input[type=checkbox].spoilerCheckBox:checked ~ .dragAndDropThumb {
  display:none;
}

input[type=checkbox].spoilerCheckBox:checked ~ .spoilerImg {
  display: block !important;
}

#boardContentLinks {
  float: right;
  color: #89A;
  font-size: 9pt;
}

.modalPanel {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 200;
  display: table;
  text-align: center;
  background: rgba(29, 31, 33, 0.66);
  right: 0;
  top: 0;
}

/*
.boardThreadList .innerOP .contentOverflow,
.boardThreadList .innerPost .contentOverflow,
.boardThreadList .markedPost .contentOverflow {
  overflow-y: hidden;
  max-height: 350px;
}*/

.modalInnerPanel {
  vertical-align: middle;
  display: table-cell;
}

.modalDecorationPanel {
  display: inline-block;
  background: #aaaacc;
}

.modalInnerDecorationPanel,
.post-table {
  padding: 10px;
  margin: 4px;
}

.captchaImageContainer {
  position: relative;
}

.modalCaptchaTable {
  margin-bottom: 0.5em;
  width: 100%;
}

.modalCaptchaControls {
  position: absolute;
  right: 2px;
}

.modalCaptchaControls input, .modalOkButton {
  margin-right: 10px;
}

#favouriteButton:before {
  font-family: Icons;
  content: "\e0c2";
  margin-left: 0.5em;
  cursor: pointer;
}

.postModerationFields {
  float:right;
}

.contentAction {
  text-align: right;
}

.contentAction > label > input {
    vertical-align: middle;
}

.postingInput {
  border: 1px solid #a9a9a9;
}

#bannerImage {
  display: none;
}

.boardHeader {
  margin-bottom: 17.15px;
}

.checkboxLabel .spoilerImg {
  max-height: 100px;
}

#previewContainer {
  background: rgba(0,0,0,.2);
  bottom: 0;
  content: " ";
  left: 0;
  line-height: 100vh;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 102;
}

#previewContainer img,
#previewContainer video {
  margin: 0 auto;
  max-height: 100vh;
  max-width: 100%;
  vertical-align: middle;
}

.mathjaxContentLongSet,
.mathjaxContentRendered,
.mathjaxContent,
.MathJax {
  display: none;
}
