@import "_lankaNäytin";


/*Elements used exclusively on board pages*/
#pages,
#linkPrevious, #linkNext,
.divPages .navCatalog
{
  display: inline-block;
  border-width: 1px;
}

.threadHidden {
  margin-bottom: 10px;
}

.opCell.deleted {
  opacity: 0.3;
}

.separator {
  color: #f0e6e6;
}

.opCell.deleted .floatingMenu,
#linkModeration {
  display: none;
}

.labelOmission {
  color: #353434;
  float: right;
}

.labelSubject {
  font-size: 13px;
  font-weight: bold;
  margin-left: 3px;
  color: #b12727;
}