/*Elements used exclusively on the board listing*/
#boardsWrapper {
  width: 80%;
  margin: 1em auto;
  text-align: center;
}

.boardsCell span {
  text-overflow: ellipsis;
}

.opCell {
  margin-top: 7px;
}

.boardThreadList .innerOP {
  margin-top: 3px;
}

.opCell {
  counter-reset: section;
}

/*
.postCount::before {
  counter-increment: section;
  content: "#" counter(section);
}*/

/*
.boardThreadList .innerOP .contentOverflow,
.boardThreadList .innerPost .contentOverflow,
.boardThreadList .markedPost .contentOverflow {
  max-height: 350px;
  overflow-y: hidden
}*/

.deletionCheckBox {
  vertical-align: top;
}

.search {
  margin: 0 11px 0.5em 11px;
}

.search form {
  display: inline-block;
}

#boardsSort, #searchButton {
  margin-top: 1em;
}

#legend {
  width: 15%;
  text-align: left;
  display: inline-block;
}

.boardsCellHeader {
  width: 85%;
  display: inline-table;
}

.boardsCellStats {
  width: 15%;
  display: inline-table;
}

#divBoards {
  display: table;
  border-spacing: 6px;
}

#divBoardsLegend {
  display: table-row;
  font-weight: bold;
}
.boardsCell {
  display: table-row;
}

.cellComponent {
  display: table-cell;
  padding-left: 5px;
  padding-right: 5px;
}

.boardsCellTags {
  white-space: nowrap;
  display: none;
}

.boardsPagination {
  margin-top: 1em;
}

#labelUsers {
  display: none;
}

.labelUniqueIps {
  display: none;
}
