#divLatestImages > a {
	margin: 5px;
}

#divLatestImages > a > img {
	max-width: 150px;
	max-height: 200px;
	max-width:  calc(min(150px, 20vw));
}

#divLatestImages {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

#divBoards {
	display: flex !important;
	flex-wrap: wrap;
	justify-content: center;
}

#divBoards > a {
	margin: 0 5px 0 5px;
}
