#workerCount {
  width: 42px;
}

progress {
  width: 100%;
  height: 30px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: solid #cccccc 5px;
  border-radius: 5px;
}

progress,
progress::-webkit-progress-bar {
  background: white !important;
}

progress,
progress::-webkit-progress-value,
progress::-moz-progress-bar {
  background: green;
}

progress::-webkit-progress-value {
  -webkit-transition : width 0.5s ease;
  -moz-transition : width 0.5s ease;
  -o-transition : width 0.5s ease;
  transition : width 0.5s ease;
}

progress,
progress::-webkit-progress-bar {
  background: #cccccc !important;
}

#percentageDiv {
  text-align: center;
}

#solved {
  color: green;
}

#fieldHash, #fieldDifficulty, #fieldSolved {
  display: none;
}

#startButton {
  margin-left: 5px;
}

.base64area {
  width: 100%;
  height: 2rem;
}
