@import "_audioThread";


.post-holder {
  display: flex;
}

.panelUploads {
  /*
  display: inline-flex;
  max-width: 850px; */
  display: block;
  flex-wrap: wrap;
  font-size: smaller;
}

.imgLink, .imgLink img {
  vertical-align: bottom;
}

.panelUploads > figure {
  float: left;
  display: block;
  background: #e8d8d870;
  border: 1px solid #ddd7d7;
}

.uploadDetails {
  border-top: 1px solid #d7c4c4;
  background: #d7c4c438;
}

.commentExpand {
  display: block;
  text-align: right;
  border-top: 1px solid black;
}


.post-container {
  display: block;
}

.divMessage {
  display: block;
  font-size: 14px;
  padding-left: 20px;
  white-space: pre-wrap;
  word-wrap: anywhere;

  color: #5c0f0f;
}

#divThreads .innerOP .contentOverflow .divMessage {
  max-height: 500px;
  overflow: hidden;
}
#divThreads .innerPost .contentOverflow .divMessage {
  max-height: 350px;
  overflow: hidden;
}

.uploadCell {
  margin: 0 15px 5px 0;
  text-align: center;
}

#fieldSubject {
  vertical-align: text-bottom;
}

.innerPost {
  float: right;
}

.contentOverflow .multipleUploads ~ .divMessage, .multipleUploads ~ .contentOverflow {
  clear: both;
}

.postInfo {
  margin-bottom: 3px;
  clear: both;
}



.panelRightItems {
  float: right;
  margin-left: 40px;
}

.postCell {
  display: flex;
  margin-top: 5px;
}

.postCell::before {
  content: '>>'
}

/*
.imgLink > img {
  max-width: 128px;
  max-height: 128px;
}*/


.extraMenuButton {
  vertical-align: top;
  color: #802525;
  cursor: pointer;
}


.sage {
  font-size: 14px;
  color: red;
  font-weight: bold;
  margin-left: 20px;
}

/*
.innerOP, .innerPost, .markedPost {
  padding: 3px 15px 5px 15px !important;
}

.postInfo {
  margin-bottom: 3px !important;
}
*/

.postInfo .linkName {
  color: #1e4d05;;
  cursor: unset;
  text-decoration: none;
  font-weight: bold;
}

.postCounter #mainPanel {
  counter-reset: css-post-count;
}

.postCounter #mainPanel .linkQuote::after {
  counter-increment: css-post-count;
  content: " / (#" counter(css-post-count) ")";
}

/*
.sage::after {
  content: 'SAGE';
}*/

.divBanMessage {
  font-weight: bold;
  float: right;
  color: #f00;
  font-size: 14px;
}

.floatingMenu {
  position: absolute;
  background: #fdf4f4;
  border: 1px solid #a6a2a2;
  z-index: 10;
}

.divPosts {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.floatingMenu > div {
  margin: 0 1px 0 1px;
}

.floatingMenu > div:hover {
  background: #ece7e7;
}

.innerOP, .innerPost, .markedPost {
  background: #fdf4f4;
  /*background: #f5ddde;*/
  /*background: #fff4f4;*/
  /*background: #f2d3d3;*/
  padding: 3px 15px 5px 15px;
  margin-left: 25px;
  border: 1px solid #ccc4c4;
  border-bottom: 1px solid #a27e7e;
  border-right: 1px solid #d5b2b2;
  display: inline-block;
  font-size: smaller;
}
.innerOP {
  padding: 15px;
}


.quoteLink {
  color: #ce102c;
}


@media only screen and (max-width: 1000px) {
  #threadList, .divPosts {
    margin-left: 0 !important;
  }
  .innerOP {
    margin-left: 0 !important;
  }
  .innerPost {
    margin-left: 10px !important;
  }
  .divPosts {
    overflow: hidden !important;
  }

  .divMessage {
    padding-left: 0;
  }
}

.markedPost {
  background: #f2d3d3;
  border: 1px solid #8c8282;
}


/*
.innerOP .contentOverflow,
.innerPost .contentOverflow {
  display: inline-flex;
}*/

