.sfw {
  .uploadCell img:hover:not(.imgExpanded),
  .catalogCell .linkThumb img:hover,
  #bannerImage:hover {
    opacity: 0.8 !important;
    filter: blur(2px);
  }

  .uploadCell img:not(.imgExpanded),
  .catalogCell .linkThumb img,
  #bannerImage {
    opacity: 0.4;
    filter: blur(8px);
  }
}
