
/*Elements exclusive from the thread page*/
#divRefreshContainer {
  padding-left: 1em;
  position: absolute;
  float: left;
}

.labelId {
  cursor: pointer;
}

.divRefresh label,
.divRefresh input
{
  display: inline-block;
  margin: 0;
  vertical-align: bottom;
}

#divControls,
#transferControls,
#ipDelete,
#divArchive,
#formTransfer,
#ipDeletionForm,
#divControls,
#divMod,
#divMerge {
  margin: 1em;
}

#divMod {
  margin-top: 4em;
}

.unimportant, .unimportant * {
  font-size: 10px;
  color: white !important;
}

.innerPost.deleted {
  opacity: 0.65;
  vertical-align: bottom;
}

#mainPanel .hideButton,
.innerPost.deleted .floatingMenu {
  display: none;
}

