@import 'variables';

@media (max-width: 170px)
{
  body {
    background: $background;
    font-family: sans-serif;
    font-size: 80%;
  }

  .menu_title {
    color: #ffffff;
    background: #313370;
    font-size: 150%;
    font-weight: bold;
  }

  h2 {
    margin: 0px !important;
    margin-top: 15px !important;
    padding-left: 2px !important;
    color: #ffffff;
    background: #313370;
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-weight: bold;
    font-size: 100%;
  }

  .boardlist {
    background: #aaaacc;
  }

  .boardlist,
  .toplist {
    overflow-x: hidden;
  }

  ul.boardlist li a,
  ul.toplist li a {
    display:inline-block;
  }

  .boardlist,
  .toplist {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    list-style: none;
  }
}

@media (min-width: 171px)
{
  body {
    background: $background;
    font-family: sans-serif;
    font-size: 10pt;
  }

  .menu_title {
    color: #ffffff;
    background: #313370;
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 6px;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  h2 {
    background: #313370;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 6px !important;
    font-size: 100%;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    margin-left: 4% !important;
    margin-right: 4% !important;
  }

  ul.boardlist li a,
  ul.toplist li a {
    display:inline-block;
    padding: 0 4px;
    margin: 0 4px;
  }

  .boardlist{
    list-style: none;
    padding-left: 5px;
    list-style: none;
    margin-left: 4px;
    margin-right: 9px;
    margin-top: 6px;
  }

  .toplist {
    list-style: none;
    padding-left: 5px;
    list-style: none;
    margin-left: 4px;
    margin-right: 9px;
    margin-top: 6px;
    font-weight: bold;
  }
}

body, html {
  padding: 0;
}

ul.boardlist li:hover,
ul.toplist li:hover {
  background: #dddddd;
}

a:link {
  color: $linkColor;
}

span.boardsoftware {
  font-size: 80%;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  width: 100%;
  display: block;
  opacity: 0.3;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
